<div class="profile_info">
  <div class="row">
    <div class="col-md-5 col-sm-5">
      <div class="profile_balance">
        <div class="profile_info__header">Current balance</div>
        <div class="profile_balance__value">
          <span class="profile_balance__number">10,635,843.09</span>
          <span class="profile_balance__currency">CHF</span>
        </div>
        <div class="profile_controls">
          <button class="btn _create_invoice_btn">
            <i class="btn__svg_icon svg_icon svg_icon--add svg_icon--margin"></i>
            New invoice
          </button>
          <button class="settlement_btn btn btn--flat">
            <i class="btn__svg_icon svg_icon svg_icon--settlement svg_icon--margin"></i>Settlement
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-sm-7">
      <div class="profile_summary">
        <div class="profile_info__header">
          Summary
          <button class="profile_info__header_help _summary_invoice_btn">
            <i class="btn__svg_icon svg_icon svg_icon--help"></i>
          </button>
        </div>
        <div class="profile_summary__list clearfix">
          <div class="profile_summary__left">
            <div class="profile_summary__item clearfix">
              <div class="profile_summary__status_name">Paid</div>
              <div class="profile_summary__status_value">10,235,843.09 CHF</div>
            </div>
            <div class="profile_summary__item clearfix">
              <div class="profile_summary__status_name">Unpaid</div>
              <div class="profile_summary__status_value">2,35,843.09 CHF</div>
            </div>
            <div class="profile_summary__item clearfix">
              <div class="profile_summary__status_name">Overdue</div>
              <div class="profile_summary__status_value">0.00 CHF</div>
            </div>
          </div>
          <div class="profile_summary__right">
            <div class="profile_summary__item clearfix">
              <div class="profile_summary__status_name">Underpaid</div>
              <div class="profile_summary__status_value">10,235,843.09 CHF</div>
            </div>
            <div class="profile_summary__item clearfix">
              <div class="profile_summary__status_name">Overpaid</div>
              <div class="profile_summary__status_value">10,235,843.09 CHF</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
