<div class="payments">
  <div class="row payments_header">
    <div class="col-sm-6">
      <h3 class="payments_header__title">Payments</h3>
      <button class="btn payments_header__btn _create_invoice_btn">
        <i class="icon icon--add"></i>
        New invoice
      </button>
    </div>
    <div class="col-sm-6 clearfix">
      <div class="invoice_controls">
        <!--
        <button class="invoice_controls__btn btn btn--flat btn--default btn-sm pull-left" type="button">
          <i class="btn__svg_icon svg_icon svg_icon--download svg_icon--margin"></i>
          DTA file
        </button>
        -->
        <button class="invoice_controls__btn btn btn--flat btn--default btn-sm pull-left"
                type="button">
          <i class="btn__svg_icon svg_icon svg_icon--download svg_icon--margin"></i>
          CSV file
        </button>
      </div>
    </div>
  </div>

  <div class="invoice_nav">
    <!--
    <button class="invoice_nav__search btn btn--icon _show_search_block">
      <i class="icon icon--search"></i>
    </button>
    <div class="invoice_tabs">
      <button class="invoice_tabs__arrow invoice_tabs__arrow--left _invoice_tabs__arrow--left"></button>
      <div class="invoice_tabs__carousel _invoice_tabs_carousel owl-carousel">
        <div class="invoice_tabs__item">
          <a class="invoice_tabs__tab invoice_tabs__tab--active" href="#all">All &middot; 32</a>
        </div>
        <div class="invoice_tabs__item">
          <a class="invoice_tabs__tab" href="#paid">Paid &middot; 9</a>
        </div>
        <div class="invoice_tabs__item">
          <a class="invoice_tabs__tab" href="#unpaid">Unpaid &middot; 21</a>
        </div>
        <div class="invoice_tabs__item">
          <a class="invoice_tabs__tab" href="#draft">Draft &middot; 2</a>
        </div>
        <div class="invoice_tabs__item">
          <a class="invoice_tabs__tab" href="#all">All &middot; 32</a>
        </div>
        <div class="invoice_tabs__item">
          <a class="invoice_tabs__tab" href="#paid">Paid &middot; 9</a>
        </div>
        <div class="invoice_tabs__item">
          <a class="invoice_tabs__tab" href="#unpaid">Unpaid &middot; 21</a>
        </div>
        <div class="invoice_tabs__item">
          <a class="invoice_tabs__tab" href="#draft">Draft &middot; 2</a>
        </div>
        <div class="invoice_tabs__item">
          <a class="invoice_tabs__tab" href="#all">All &middot; 32</a>
        </div>
        <div class="invoice_tabs__item">
          <a class="invoice_tabs__tab" href="#paid">Paid &middot; 9</a>
        </div>
        <div class="invoice_tabs__item">
          <a class="invoice_tabs__tab" href="#unpaid">Unpaid &middot; 21</a>
        </div>
        <div class="invoice_tabs__item">
          <a class="invoice_tabs__tab" href="#draft">Draft &middot; 2</a>
        </div>
        <div class="invoice_tabs__item">
          <a class="invoice_tabs__tab" href="#all">All &middot; 32</a>
        </div>
        <div class="invoice_tabs__item">
          <a class="invoice_tabs__tab" href="#paid">Paid &middot; 9</a>
        </div>
        <div class="invoice_tabs__item">
          <a class="invoice_tabs__tab" href="#unpaid">Unpaid &middot; 21</a>
        </div>
        <div class="invoice_tabs__item">
          <a class="invoice_tabs__tab" href="#draft">Draft &middot; 2</a>
        </div>
      </div>
      <button class="invoice_tabs__arrow invoice_tabs__arrow--right _invoice_tabs__arrow--right"></button>
    </div>
    -->

    <!-- TODO -->
    <div class="invoice_filters">
      <form>
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <div class="form_selectpicker form_selectpicker--period form-group">
              <label for="select1"
                     class="control-label">Period:</label>
              <select id="select1"
                      class="selectpicker"
                      data-size="10">
                <option>This week</option>
                <option>Last week</option>
                <option>This month</option>
                <option>Last month</option>
                <option>Three months</option>
                <option>This year</option>
                <option>Last year</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="form_selectpicker form_selectpicker--type form-group">
              <label for="select2"
                     class="control-label">Type:</label>
              <select id="select2"
                      class="selectpicker"
                      data-size="10">
                <option>All</option>
                <option>Invoice</option>
                <option>API</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="form_selectpicker form_selectpicker--status form-group">
              <label for="select3"
                     class="control-label">Status:</label>
              <select id="select3"
                      class="selectpicker"
                      data-live-search="true"
                      data-size="10">
                <option>All</option>
                <option>Draft</option>
                <option>Unpaid</option>
                <option>In Progress</option>
                <option>Paid</option>
                <option>Underpaid</option>
                <option>Overpaid</option>
                <option>LatePaid</option>
                <option>Refunded</option>
                <option>PastDue</option>
                <option>Removed</option>
                <option>Error</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="search_filter">
              <div class="input-search input-search--index">
                <button class="btn btn--icon">
                  <i class="icon icon--search"></i>
                </button>
                <input type="text"
                       class="form-control form-control--search"
                       placeholder="Search">
                <button class="btn btn--icon">
                  <i class="icon icon--cancel_round"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!--
  <div class="search_filter">
    <form>
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          <div class="form-group">
            <div class="form_selectpicker">
              <select class="selectpicker" data-size="10" data-live-search="true" data-live-search-placeholder="">
                <option value="BTC" selected>In the past month</option>
                <option value="USD">In the past month</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-xs-9 col-sm-8">
          <div class="input-search input-search--index">
            <button class="btn btn--icon">
              <i class="icon icon--search"></i>
            </button>
            <input type="text" class="form-control form-control--search" placeholder="Asset or address...">
            <button class="btn btn--icon">
              <i class="icon icon--cancel_round"></i>
            </button>
          </div>
        </div>
        <div class="col-xs-3 col-sm-1">
          <button type="button" class="btn btn--link _hide_search_block">Cancel</button>
        </div>
      </div>
    </form>
  </div>
  -->

  <div class="table-responsive">
    <table class="table table_invoices">
      <tr>
        <th class="_number">Invoice number, date</th>
        <th class="_client">Client</th>
        <th class="_amount">Amount</th>
        <th class="_currency">Currency</th>
        <th class="_status">Status</th>
        <th class="_pay">Pay due date</th>
        <th class="_action"></th>
      </tr>
      <tr>
        <td class="_number">
          <span class="_title">#4974732</span>
          <span class="_hint">15 Nov 2017</span>
        </td>
        <td class="_client">
          <span class="_title">Verizon Communications</span>
          <span class="_hint">info@verizon.com</span>
        </td>
        <td class="_amount">1,324.92</td>
        <td class="_currency">CHF</td>
        <td class="_status">
          <span class="label label--gray">Draft</span>
        </td>
        <td class="_pay">15 Nov 2017</td>
        <td class="_action">
          <button class="btn btn--icon"
                  type="button">
            <i class="btn__svg_icon svg_icon svg_icon--delete"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td class="_number">
          <div class="_title">#4974732 <span class="label label--rounded label--gray">API</span></div>
          <div class="_hint">15 Nov 2017</div>
        </td>
        <td class="_client">
          <span class="_title">Verizon Communications</span>
          <span class="_hint">info@verizon.com</span>
        </td>
        <td class="_amount">1,324.92</td>
        <td class="_currency">CHF</td>
        <td class="_status">
          <span class="label label--yellow">Unpaid</span>
        </td>
        <td class="_pay">15 Nov 2017</td>
        <td class="_action">
          <button class="btn btn--icon"
                  type="button">
            <i class="btn__svg_icon svg_icon svg_icon--delete"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td class="_number">
          <span class="_title">#4974732</span>
          <span class="_hint">15 Nov 2017</span>
        </td>
        <td class="_client">
          <span class="_title">Verizon Communications</span>
          <span class="_hint">info@verizon.com</span>
        </td>
        <td class="_amount">1,324.92</td>
        <td class="_currency">CHF</td>
        <td class="_status">
          <span class="label label--blue">InProgress</span>
        </td>
        <td class="_pay">15 Nov 2017</td>
        <td class="_action">
          <button class="btn btn--icon"
                  type="button"
                  disabled>
            <i class="btn__svg_icon svg_icon svg_icon--delete"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td class="_number">
          <span class="_title">#4974732</span>
          <span class="_hint">15 Nov 2017</span>
        </td>
        <td class="_client">
          <span class="_title">Verizon Communications</span>
          <span class="_hint">info@verizon.com</span>
        </td>
        <td class="_amount">1,324.92</td>
        <td class="_currency">CHF</td>
        <td class="_status">
          <span class="label label--green">Paid</span>
        </td>
        <td class="_pay">15 Nov 2017</td>
        <td class="_action">
          <button class="btn btn--icon"
                  type="button"
                  disabled>
            <i class="btn__svg_icon svg_icon svg_icon--delete"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td class="_number">
          <span class="_title">#4974732</span>
          <span class="_hint">15 Nov 2017</span>
        </td>
        <td class="_client">
          <span class="_title">Verizon Communications</span>
          <span class="_hint">info@verizon.com</span>
        </td>
        <td class="_amount">1,324.92</td>
        <td class="_currency">CHF</td>
        <td class="_status">
          <span class="label label--red">Error</span>
        </td>
        <td class="_pay">15 Nov 2017</td>
        <td class="_action">
          <button class="btn btn--icon"
                  type="button"
                  disabled>
            <i class="btn__svg_icon svg_icon svg_icon--delete"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td class="_number">
          <span class="_title">#4974732</span>
          <span class="_hint">15 Nov 2017</span>
        </td>
        <td class="_client">
          <span class="_title">Verizon Communications</span>
          <span class="_hint">info@verizon.com</span>
        </td>
        <td class="_amount">1,324.92</td>
        <td class="_currency">CHF</td>
        <td class="_status">
          <span class="label label--violet">Underpaid</span>
        </td>
        <td class="_pay">15 Nov 2017</td>
        <td class="_action">
          <button class="btn btn--icon"
                  type="button"
                  disabled>
            <i class="btn__svg_icon svg_icon svg_icon--delete"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td class="_number">
          <span class="_title">#4974732</span>
          <span class="_hint">15 Nov 2017</span>
        </td>
        <td class="_client">
          <span class="_title">Verizon Communications</span>
          <span class="_hint">info@verizon.com</span>
        </td>
        <td class="_amount">1,324.92</td>
        <td class="_currency">CHF</td>
        <td class="_status">
          <span class="label label--violet">Overpaid</span>
        </td>
        <td class="_pay">15 Nov 2017</td>
        <td class="_action">
          <button class="btn btn--icon"
                  type="button"
                  disabled>
            <i class="btn__svg_icon svg_icon svg_icon--delete"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td class="_number">
          <span class="_title">#4974732</span>
          <span class="_hint">15 Nov 2017</span>
        </td>
        <td class="_client">
          <span class="_title">Verizon Communications</span>
          <span class="_hint">info@verizon.com</span>
        </td>
        <td class="_amount">1,324.92</td>
        <td class="_currency">CHF</td>
        <td class="_status">
          <span class="label label--dark">Refunded</span>
        </td>
        <td class="_pay">15 Nov 2017</td>
        <td class="_action">
          <button class="btn btn--icon"
                  type="button"
                  disabled>
            <i class="btn__svg_icon svg_icon svg_icon--delete"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
