.form_group {
  @include rem(margin-bottom, 20px);
}

.control-label {
  font-size: 16px;
  font-weight: $fw-bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: $black;

  @include rem(font-size, 16px);
}

.hint {
  color: #8c94a0;
  line-height: 1.25;

  @include rem(margin, 5px 0);
  @include rem(font-size, 14px);

  &--error {
    color: #ff3e2e !important;
  }
}

.input-group {
  .form-control {
    @include rem(padding-right, 50px);
  }
}

.form {
  position: relative;
}

.radio {
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @include rem(margin, 0 0 5px);

  + .form-group {
    margin-top: 10px;
  }

  &__control {
    position: absolute;
    right: 100%;
    opacity: 0;
    visibility: hidden;

    &:checked {
      ~ .control-label {
        &:before {
          background: $primary !important;
          border-color: $primary !important;
        }

        &:after {
          opacity: 1 !important;
          visibility: visible !important;
          transform: scale(1);
        }
      }
    }

    &[disabled] {
      ~ .control-label {
        &:before {
          background: #F5F6F7 !important;
          border-color: #F5F6F7 !important;
        }

        &:after {
          color: #F5F6F7 !important;
        }
      }
    }
  }

  &__label, label {
    position: relative;
    color: #3f4d60;

    @include rem(padding, 5px 0 5px 30px);

    &:hover {
      &:before {
        border-color: #CFD2D7;
      }
    }

    &:before {
      content: '';
      border: 1px solid #CFD2D7;
      position: absolute;
      left: 0;
      transition: background $transition-default, border $transition-default;

      @include rem(top, 5px);
      @include rem(width, 20px);
      @include rem(height, 20px);
    }

    &:after {
      content: '';
      color: #fff;
      position: absolute;
      transform: scale(0);
      transition: opacity $transition-default, visibility $transition-default, transform $transition-default;
    }
  }
}

.radio {
  &__control {
    &[disabled] {
      ~ .control-label {
        &:after {
          background: #CFD2D7 !important;
        }
      }
    }
  }

  &__label, label {
    &:before {
      background: #fff;
      border-radius: 100px;
    }

    &:after {
      background: #fff;
      border-radius: 100px;

      @include rem(width, 6px);
      @include rem(height, 6px);
      @include rem(top, 12px);
      @include rem(left, 7px);
    }
  }
}

.radio {
  overflow: hidden;

  &--plate {
    overflow: hidden;
    position: relative;
    margin: 0;

    input {
      position: absolute;
      right: 100%;
      bottom: 100%;
      opacity: 1;
      visibility: hidden;

      &:checked {
        + .control-label {
          border-color: $primary;
          box-shadow: inset 0 0 0 1px $primary;
        }
      }
    }

    .control-label {
      color: $primary;
      border: 1px solid #CFD2D7;
      border-radius: 4px;
      text-align: center;
      width: 100%;
      min-width: 120px;
      transition: all $transition-default;

      @include rem(font-size, 16px);
      @include rem(padding, 14px);
      @include rem(line-height, 20px);

      &:after,
      &:before {
        display: none;
      }
    }
  }

  + .radio {
    margin-top: 0;
  }
}

.radio {
  &__title {
    color: $text;
    letter-spacing: 0;
    display: block;

    @include rem(font-size, 16px);
    @include rem(line-height, 23px);
  }

  .hint {
    color: #8C94A0;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 0;

    @include rem(font-size, 14px);
    @include rem(line-height, 24px);
  }

  &.btn-block {
    @include rem(margin-bottom, 10px !important);
  }
}

.radio-group {
  @include rem(margin-left, -5px);
  @include rem(margin-right, -5px);
  @include clearfix;

  .radio {
    float: left;
    margin: 0;
    width: 50%;

    @include rem(padding, 0 5px);
  }

  @media all and (max-width: $screen-mobile) {
    .radio {
      width: 50% !important;
      margin-bottom: 10px;
    }
  }
}

.form-control {
  &.radio__label {
    @include rem(height, 60px);
    @include rem(padding, 18px 18px 18px 55px);

    &:after,
    &:before {
      @include rem(left, 20px);
      @include rem(top, 18px);
    }

    &:after {
      @include rem(left, 27px);
      @include rem(top, 25px);
    }
  }

  &--select {
    cursor: pointer;
  }

  &--content {
    padding: 0;
    border: 0;
    width: 100%;
    height: auto;
    line-height: 1.5;
    font-size: 16px;
    color: rgba(63, 77, 96, 0.6);
  }
}


.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-color: #CFD2D7;

  &:focus {
    border-color: #b2b8bf;
  }
}

.select {
  position: relative;

  .icon {
    position: absolute;
    color: #CFD2D7;
    top: 50%;

    @include rem(font-size, 10px);
    @include rem(right, 10px);
    @include rem(margin-top, -4px);
  }

  .form-control {
    cursor: pointer;
    margin-bottom: 0;
  }

  &::after {
    pointer-events: none;
  }
}

.form_container {
  width: 570px;
  max-width: 100%;
  padding-top: 50px;
}

.checkbox {
  .hint {
    display: block;
    color: #8c94a0;
  }
}

.form__submit {
  @include rem(padding, 14px 0);
}

@media (max-width: 767px) {
  .form .form-control {
    margin-bottom: 0;
  }

  .form_container {
    padding-top: 20px;
  }
}

.input-group-addon {
  right: auto;
  margin-right: 0;
  cursor: default;
  top: 50%;

  @include rem(right, 5px);
  @include transform(translate(0, -50%));

  &.icon, .icon {
    @include rem(font-size, 24px);
  }

  &.left {
    right: auto;

    @include rem(left, 5px);

    + .form-control {
      @include rem(padding-left, 50px);
    }
  }
}

.form_register {
  @include rem(margin, 50px 0);

  .form-group {
    @include rem(margin-bottom, 20px);
  }

  .submit-group {
    @include rem(margin-top, 30px);
  }

  .input-group {
    .form-control {
      @include rem(padding-right, 50px);

      + .input-group-addon {
        left: auto;
        cursor: pointer;

        @include rem(right, 5px);
      }
    }
  }

  .hint {
    @include rem(margin, 10px 0);
  }

  .icon--hide_password {
    color: #3f4d60;
  }

  .btn {
    &--flat {
      border-radius: 0;
      padding: 0 !important;

      @include rem(margin, 15px 0 0);
    }
  }

  @media all and (max-width: $screen-tablet) {
    @include rem(margin-bottom, 100px);
  }
}

.input-group {
  position: relative;

  &--error {
    &:before {
      content: '';
      border-radius: 100px;
      position: absolute;
      background-color: #ff3e2e;
      left: 0;

      @include rem(width, 2px);
      @include rem(top, 8px);
      @include rem(bottom, 8px);
    }
  }

  &.form-control {
    display: table;
    width: 100%;

    .form-control {
      border: 0;
      padding: 0;
      background: transparent;
      height: auto;
      margin-bottom: 0;
    }

    .input-group-field,
    .input-group-addon {
      display: table-cell;
      vertical-align: middle;
      float: none;
      width: auto;
      position: static;
      padding: 0;

      @include rem(line-height, 26px)
    }

    .input-group-addon {
      width: 10px;
    }

    .input-group-field {
      width: 90%;
    }
  }
}

.invoice_form {
  textarea.form-control {
    @include rem(min-height, 85px);
  }
}

.form_header {
  border-bottom: 1px solid $border-alt;

  @include clearfix;
  @include rem(margin, 40px 0 20px);
  @include rem(padding-bottom, 20px);

  .btn {
    @include rem(margin, -7px 0 -4px);
  }

  h3 {
    margin-bottom: 0;
    line-height: normal;
    font-family: $ff;
    font-weight: $fw-semi;
  }
}

.btn--flat {
  &.btn--default {
    border: 0;
    border-radius: 0;
    color: #000 !important;
    font-weight: $fw-semi;

    &:hover {
      color: $secondary !important;
    }
  }
}

.btn--icon[disabled] {
  .svg_icon {
    opacity: 0.25;
  }
}

.dropdown-menu {
  margin-top: 7px;
  width: 177px;

  .bs-searchbox {
    padding: 16px 16px 10px;

    .form-control {
      border: 1px solid #cfd2d7;
      font-weight: normal;
      padding-left: 14px;
      padding-right: 14px;

      @include rem(font-size, 16px);
      @include rem(line-height, 24px);
      @include rem(height, 40px);
      @include placeholder {
        color: #a0a7b1;
      }
    }
  }
}

input[type="number"] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
      cursor: pointer;
      height: auto;
  }
}

::-webkit-scrollbar {
  height: 18px;
  width: 18px;
}
::-webkit-scrollbar-thumb {
  height: 6px;
  background-clip: padding-box;
  background-color: #d5d7dc;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  border: 6px solid transparent;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background: #f5f6f7 !important;
}

.form_selectpicker {
  position: relative;

  .btn-group {
    width: 100% !important;
    display: block !important;
    outline: none;

    &.open {
      .bs-caret {
        &:before {
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
  }

  &[disabled] {
    .btn.dropdown-toggle {
      background: #EBEDEF !important;
      color: rgba(63, 77, 96, 0.3) !important;
      cursor: default;
      opacity: 1;
    }
  }

  .btn.dropdown-toggle {
    font-weight: normal;
    border: 1px solid #CFD2D7;
    border-radius: 4px !important;
    width: 100% !important;
    outline: none;
    background: transparent;
    padding-left: 12px;
    padding-right: 30px;

    @include rem(font-size, 16px);
    @include rem(height, 50px);
    @include rem(padding-right, 45px);

    &:focus {
      border-color: #b2b8bf;
      outline: none !important;
    }

    .bs-caret {
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;

      @include rem(width, 45px);

      &:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 100%;
        display: block;
        top: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../img/big-caret.svg);

        @include rem(right, 15px);
      }
    }

    .caret {
      display: none;
    }

    .filter-option-inner-inner {
      display: inline-block;
      overflow: hidden;
      width: 100%;
      text-align: left;
      text-overflow: ellipsis;
    }
  }

  .btn-default:active:hover,
  .btn-default.active:hover,
  .open>.dropdown-toggle.btn-default:hover,
  .btn-default:active:focus,
  .btn-default.active:focus,
  .open>.dropdown-toggle.btn-default:focus,
  .btn-default:active.focus,
  .btn-default.active.focus,
   .open>.dropdown-toggle.btn-default.focus {
    background: transparent;
    border-color: #b2b8bf;
  }

  .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    overflow: auto !important;

    @include rem(margin-top, 10px);

    a {
      @include rem(padding, 9px 15px);
      @include rem(font-size, 16px);
    }
  }

  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > .active > a:focus {
    color: #3f4d60;
  }
}
