.features_list {
  @include rem(margin, 30px 0);
}

.features_item {
  @include clearfix;

  @include rem(margin-bottom, 60px);

  &__img {
    float: left;

    @include rem(margin-right, 18px);
  }

  &__content {
    overflow: hidden;

    @include rem(padding-top, 8px);
    @include rem(padding-right, 20px);
  }

  &__title {
    font-weight: $fw-semi;
    color: #111111;

    @include rem(font-size, 21px);
    @include rem(margin-bottom, 8px);
  }

  &__text {
    line-height: 1.67;
    color: #657180;

    @include rem(font-size, 18px);
  }
}

.docs_list {
  @media all and (max-width: $screen-tablet) {
    text-align: left;
  }

  @media all and (max-width: $screen-mobile) {
    margin-top: 30px;
  }
}

.docs_item {
  display: inline-block;
  vertical-align: top;
  text-align: left;

  @include rem(margin-right, 35px);
  @include clearfix;

  &:last-child {
    margin-right: 0;
  }

  &__icon {
    float: left;
    text-align: center;
    width: 48px;
    padding: 6px;

    @include rem(margin-right, 22px);
  }

  &__content {
    overflow: hidden;
    margin-top: -1px;
  }

  &__title {
    line-height: 1.67;
    color: #333333;

    @include rem(font-size, 18px);
  }

  &__action {
    @include rem(font-size, 16px);

    a, button {
      font-weight: $fw-semi;
    }
  }

  @media all and (max-width: $screen-mobile-tiny) {
    margin-right: 0;
    margin-bottom: 15px;
    width: 100%;
  }
}

.attachment_list {
  .asset_link_list {
    @include rem(margin-top, -20px);

    .asset_link:first-child {
      border-top: 0;
    }
  }
}

.asset_link {
  position: relative;

  .form-group {
    max-width: none;

    @include rem(margin, 15px 0);
  }

  &__icon {
    margin-right: 20px;
    width: 60px;
  }

  &__info {
    padding-right: 0;
  }

  &__title {
    font-size: 18px;
    line-height: 25px;
  }

  &__desc {
    font-size: 16px;
    line-height: 1.5;
    word-break: break-word;
  }

  &__action {
    position: absolute;
    top: 50%;
    right: 10px;
    z-index:10;

    @include transform(translate(0, -50%));

    + .asset_link__info {
      padding-right: 60px;
    }

    .btn {
      @include rem(padding, 10px);

      .icon {
        @include rem(font-size, 24px);
      }
    }
  }

  &--alt {
    .asset_icon {
      width: 60px;
      font-size: 16px;
      line-height: 32px;
      height: 31px;
    }

    .asset_link__title {
      line-height: 30px;
      margin-right: 5px;
    }

    .asset_link__desc {
      margin-left: 0;
    }
  }

  @media all and (max-width: $screen-mobile) {
    &__action {
      right: 0;
    }
  }
}

.asset_link_list {
  &--thin {
    .asset_link {
      @include rem(padding, 14px 0);

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}