.features_list {
  @include rem(margin, 30px 0);
}

.features_item {
  @include clearfix;

  @include rem(margin-bottom, 60px);

  &__img {
    float: left;

    @include rem(margin-right, 18px);
  }

  &__content {
    overflow: hidden;

    @include rem(padding-top, 8px);
    @include rem(padding-right, 20px);
  }

  &__title {
    font-weight: $fw-semi;
    color: #111111;

    @include rem(font-size, 21px);
    @include rem(margin-bottom, 8px);
  }

  &__text {
    line-height: 1.67;
    color: #657180;

    @include rem(font-size, 18px);
  }
}

.docs_list {
  @media all and (max-width: $screen-tablet) {
    text-align: left;
  }

  @media all and (max-width: $screen-mobile) {
    margin-top: 30px;
  }
}

.docs_item {
  display: inline-block;
  vertical-align: top;
  text-align: left;

  @include rem(margin-right, 35px);
  @include clearfix;

  &:last-child {
    margin-right: 0;
  }

  &__icon {
    float: left;
    text-align: center;
    width: 48px;
    padding: 6px;

    @include rem(margin-right, 22px);
  }

  &__content {
    overflow: hidden;
    margin-top: -1px;
  }

  &__title {
    line-height: 1.67;
    color: #333333;

    @include rem(font-size, 18px);
  }

  &__action {
    @include rem(font-size, 16px);

    a, button {
      font-weight: $fw-semi;
    }
  }

  @media all and (max-width: $screen-mobile-tiny) {
    margin-right: 0;
    margin-bottom: 15px;
    width: 100%;
  }
}

.attachment_list {
  @include rem(margin-bottom, 50px);

  .asset_link_list {
    @include rem(margin-top, -20px);

    .asset_link:first-child {
      border-top: 0;
    }
  }

  &--download {
    .asset_link__icon {
      .asset_icon {
        cursor: pointer;
      }
    }
    .asset_link__info {
      .asset_link__title {
        cursor: pointer;
      }
    }
  }
}

.asset_link {
  position: relative;

  .form-group {
    max-width: none;

    @include rem(margin, 15px 0);
  }

  &__icon {
    margin-right: 20px;
    width: 60px;
  }

  &__info {
    padding-right: 0;
  }

  &__title {
    font-size: 18px;
    line-height: 25px;
  }

  &__desc {
    font-size: 16px;
    line-height: 1.5;
    word-break: break-word;

    &:focus {
      outline: none;
    }
  }

  &__action {
    position: absolute;
    top: 50%;
    right: 10px;
    z-index:10;

    @include transform(translate(0, -50%));

    + .asset_link__info {
      padding-right: 60px;
    }

    .btn {
      @include rem(padding, 10px);

      .icon {
        @include rem(font-size, 24px);
      }
    }
  }

  &--alt {
    .asset_icon {
      width: 60px;
      font-size: 16px;
      line-height: 32px;
      height: 31px;
    }

    .asset_link__title {
      line-height: 30px;
      margin-right: 5px;
    }

    .asset_link__desc {
      margin-left: 0;
    }
  }

  @media all and (max-width: $screen-mobile) {
    &__action {
      right: 0;
    }
  }
}

.asset_link_list {
  &--thin {
    .asset_link {
      @include rem(padding, 14px 0);

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}


.history_list {

}

.history_item {
  @include rem(margin-bottom, 24px);

  ._circle {
    border-radius: 100px;
    background-color: #c021f6;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    text-align: center;
  }

  .label {
    top: 0;
  }

  &__img {
    float: left;
    cursor: default;

    @include rem(margin-right, 30px);

    .icon {
      margin-right: 0;
    }

    img {
      border-radius: 100px;
      width: 40px;
    }

    &--success {
      ._circle {
        background-color: $green;
      }
    }

    &--error {
      ._circle {
        background-color: $red;
      }
    }

    &--refund {
      ._circle {
        background-color: $secondary;
      }

      .icon {
        @include rem(font-size, 18px);
      }
    }
  }

  &__content {
    overflow: hidden;
    border-bottom: 1px solid $border-alt;

    @include rem(padding-bottom, 24px);
  }

  &__title {
    font-weight: $fw-semi;
    line-height: 1.67;
    color: $text;

    @include rem(padding-right, 120px);
    @include rem(font-size, 18px);
  }

  &__date {
    line-height: 1.67;
    color: rgba($secondary, .6);
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    position: relative;
    top: -1px;
    white-space: nowrap;

    @include rem(font-size, 16px);
  }

  &__message {
    @include rem(margin-top, 28px);

    .form {
      @include rem(margin-bottom, 10px);
    }

    .message_card {

      p {
        color: rgba($secondary, .8);
        line-height: 1.5;

        @include rem(font-size, 16px);
      }

      &--send {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        margin: 0;
      }
    }

    .card__actions {
      border-bottom: 0;
      padding: 0;
      color: rgba($secondary, .6);

      @include rem(margin-top, 25px);
      @include rem(font-size, 16px);

      a:hover {
        color: $secondary;
      }
    }

    .user_badge__img {
      @include rem(margin-right, 20px);
    }

    .text--gray {
      color: rgba($secondary, .6);

      @include rem(padding, 15px 0);
    }
  }

  .middot {
    line-height: 1.67;
    color: rgba($secondary, .6);
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    position: relative;
    top: -1px;

    @include rem(font-size, 16px);
    @include rem(margin, 0 2px);
  }

  &__text {
    line-height: 1.5;
    color: rgba($secondary, .8);

    @include rem(font-size, 16px);
  }

  @media all and (max-width: $screen-mobile) {
    &__img {
      display: none;
    }
  }
}
