.invoice_header {
  @include clearfix;
  @include rem(margin-bottom, 75px);

  .page__title {
    text-align: inherit;
    color: #111;
    word-wrap: break-word;
  }

  ~ .asset_link_list {
    .asset_link:first-child {
      border-top: 0;
    }
  }

  &__subtitle {
    font-weight: $fw-light;
    line-height: normal;
    color: #8c94a0;

    @include rem(font-size, 28px);
  }

  &__link {
    font-weight: $fw-semi;

    @include rem(font-size, 24px);

    .btn {
      position: relative;

      .icon {
        @include rem(top, -2px);
      }
    }
  }

  &__desc {
    border-bottom: 1px solid $border-alt;

    @include rem(padding-bottom, 28px);

    .btn--flat {
      @include rem(margin, -8px -22px);
    }
  }

  &__data {
    line-height: 1.5;
    color: #657180;

    @include rem(font-size, 22px);
  }

  .invoice_info__qr {
    text-align: right;

    @include rem(margin-bottom, 38px);
  }

  @media all and (max-width: $screen-tablet) {
    .invoice_info__qr {
      text-align: left;
      margin: 30px 0;
    }

    &__link {
      font-size: 20px;
    }

    &__desc {
      .btn--flat {
        margin-top: 15px;
      }

      .invoice_controls {
        float: none;
      }
    }
  }

  @media all and (max-width: $screen-mobile) {
    text-align: left;
    margin-bottom: 25px;

    .page__title {
      font-size: 26px;
      letter-spacing: -0.4px;
      margin-bottom: 12px;
    }

    &__subtitle {
      font-size: 16px;
    }

    &__link {
      font-size: 14px;
    }

    .invoice_info__qr {
      margin: 15px 0;
    }
  }
}

.invoice_info {
  min-height: 325px;
  padding-left: 280px;
  position: relative;

  @include rem(margin-bottom, 50px);
  @include clearfix;

  &__left {
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
  }

  &__qr {
    position: relative;

    @include rem(margin-bottom, 52px);

    &--detecting:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(255, 174, 44, 0.96);
      background-image: url(../img/qr-attention.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

    .img-responsive {
      width: 100%;
    }

    &_img_152 {
      display: none;
    }
  }

  &__select {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: -1px;

    .bootstrap-select {
      .dropdown-toggle {
        padding-right: 20px;

        .caret {
          border: none;
          width: 20px;
          height: 100%;
          display: block;
          position: absolute;
          background-image: url(../img/select-cur.svg);
          background-position: center;
          background-repeat: no-repeat;
          top: -1px;
          right: 0;
      }
      }
    }
  }

  &__loader {
    overflow: hidden;
    border: solid 1px #e6e8ea;
    border-radius: $border-radius;
    padding: 8px 15px 8px 66px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 54px;

    .pie {
      position: absolute;

      @include rem(left, 15px);
      @include rem(top, 8px);
    }

    span {
      font-weight: $fw-semi;
      color: $text;
      padding: 0;
      line-height: 38px;

      @include rem(font-size, 16px);
    }
  }

  &__row {
    margin-bottom: 20px;

    &--detecting {
      opacity: 0.15;
      pointer-events: none;
    }
  }

  &__value {
    font-weight: $fw-semi;
    line-height: normal;
    color: $text;
    font-size: 24px;

    &--thin {
      font-weight: $fw-light;
    }
  }

  &__title {
    font-weight: normal;
    letter-spacing: 2.3px;
    text-align: left;
    color: rgba(#657180, .6);
    text-transform: uppercase;
    font-size: 13px;
  }

  &__hint {
    line-height: 1.43;
    color: rgba(#3f4d60, .6);
    font-size: 14px;
    margin-top: 12px;
  }

  hr {
    @include rem(margin, 25px 0);
  }

  .hint {
    line-height: 1.56;
    color: rgba($secondary, .6);

    @include rem(font-size, 16px);
  }

  &__hint {
    &--mobile {
      display: none;
    }
  }

  @media all and (max-width: $screen-mobile) {
    &__hint {
      &--mobile {
        display: block;
      }
    }
  }

  @media all and (max-width: $screen-mobile) {
    &__hint {
      &--mobile-old {
        display: none;
      }
    }
  }

  @media all and (max-width: $screen-landscape) {
    &__loader {
      margin-bottom: 12px;
    }

    &__qr {
      margin-bottom: 25px;
    }
  }

  @media all and (max-width: $screen-mobile) {
    padding-left: 0;
    @include rem(margin-bottom, 10px);

    &__left {
      position: relative;
      float: none;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      width: 220px;
      padding-right: 0;

      .img-responsive {
        margin: auto;
        width: auto;
      }
    }

    &__right {
      float: none;
      width: auto;
    }

    .hint {
      text-align: center;
      padding: 0 10px;
    }

    &__qr {
      text-align: center;
      width: 152px;
      margin-left: auto;
      margin-right: auto;

      &_img_152 {
        display: inline;
      }

      &_img_220 {
        display: none;
      }
    }

    &__right {
      border-top: 1px solid $border-alt;
      padding-top: 30px;
    }
  }
}

.invoice_form {
  &__title {
    color: #111;
    line-height: 1;
    font-family: $ff-alt;
    font-weight: $fw-semi;
    letter-spacing: -0.9px;

    @include rem(font-size, 60px);
    @include rem(margin-bottom, 2px);
  }

  &__status {
    line-height: 1.33;
    font-family: $ff-alt;
    letter-spacing: -0.3px;
    color: rgba($secondary, .6);

    @include rem(font-size, 30px);

  }
}

.invoice_page {
  .asset_link_list--thin {
    .asset_link {
      border-top: 0;
      border-bottom: 1px solid $border-alt;

      &:last-child {
        border-bottom: 1px solid $border-alt;
      }
    }
  }

  .invoice_header {
    @include rem(margin-bottom, 35px);
  }

  .form_header {
    @include rem(margin-top, 60px);
  }
}

.invoice_buttons {
  @include rem(margin, 54px 0);

  .btn:first-child {
    min-width: 155px;
  }
}

.alert {
  font-weight: $fw-semi;

  &--dark {
    background-color: $secondary;
  }

  .label {
    line-height: 1.78;
    letter-spacing: 1.8px;
    padding: 0;

    @include rem(font-size, 18px);
    @include rem(margin, -4px 0 -5px);
  }

  .icon {
    margin-left: 0;

    &--warning_icn {
      @include rotate(180deg);
      @include rem(font-size, 22px);

      .path2:before,
      .path3:before {
        color: $red;
      }
    }
  }

  @media all and (max-width: $screen-mobile) {
    .label {
      font-size: 13px;
    }
  }
}

.invoice_refresh {
  border-bottom: 1px solid $border-alt;

  @include rem(padding-bottom, 54px);

  &__btn {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include rem(margin-bottom, 40px);
  }

  &__text {
    text-align: center;
  }

  &__a {
    font-weight: 600;
  }
}

.invoice_filters {
  .btn .icon {
    margin-right: 0 !important;
  }

  .search_filter {
    display: block;

    @include rem(margin-bottom, 10px);
  }

  .control-label {
    font-weight: normal;
    line-height: 1.25;
    color: rgba(#3f4d60, .6);
    position: absolute;
    left: 0;
    pointer-events: none;
    z-index: 1002;

    @include rem(top, 15px);
    @include rem(left, 18px);
    @include rem(font-size, 16px);
  }

  .form_selectpicker {
    .dropdown-menu {
      margin-top: 5px;
    }
  }
}

.form_selectpicker {
  .btn.dropdown-toggle {
    color: $secondary !important;
    background-color: $white !important;
    position: relative;
    z-index: 1001;

    @include transform(none)
  }

  &--category {
    .btn.dropdown-toggle {
      @include rem(padding-left, 96px)
    }
  }

  &--period {
    .btn.dropdown-toggle {
      @include rem(padding-left, 78px)
    }
  }

  &--status {
    .btn.dropdown-toggle {
      @include rem(padding-left, 75px)
    }
  }

  &--type {
    .btn.dropdown-toggle {
      @include rem(padding-left, 66px)
    }
  }
}

.bar_selected {
  width: 945px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1005;
  background-color: #ffffff;
  box-shadow: 0 8px 50px 0 rgba(63, 77, 96, 0.4), 0 5px 5px 0 rgba(63, 77, 96, 0.05);

  @include rem(padding, 30px);
  @include rem(bottom, 30px);
  @include rem(border-radius, 8px);

  h5 {
    margin-bottom: 0;

    @include rem(padding, 9px 0);
  }

  .control-label {
    line-height: 1.5;
    color: rgba($secondary, .8);
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    margin-bottom: 0;

    @include rem(font-size, 16px);
    @include rem(padding, 4px 0);
    @include rem(margin-right, 10px);
  }

  .form-control {
    width: 145px;
    display: inline-block;
    vertical-align: middle;
  }

  .btn-group {
    margin-bottom: 0;
  }

  @media all and (max-width: $screen-tablet) {
    .form_selectpicker, .form-control, .control-label {
      margin-bottom: 10px;
    }
  }

  @media all and (max-width: $screen-landscape) {
    padding: 15px 15px;
    border-radius: 0;
    bottom: 0;
    width: 100%;

    h5 {
      padding-top: 0;
    }

    .row {
      margin-left: -5px;
      margin-right: -5px;

      > div {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    .text-right {
      text-align: left !important;
    }

    .control-label {
      display: block;
      margin-bottom: 0;
    }

    .form-control {
      width: 100%;
    }
  }
}

.profile_controls {
  .svg_icon {
    @include rem(margin-top, -3px);
  }
}

.container {
  position: relative;
}

.invoice_actions {
  position: absolute;
  right: 5px;
  top: 0;
  width: 140px;

  &__qr {
    width: 140px;
    height: 140px;
    padding: 10px;
    border-radius: $border-radius;
    background-color: rgba(255, 255, 255, 0);
    border: solid 1px #e6e8ea;

    @include rem(margin-bottom, 20px);

    img {
      width: 100%;
    }
  }

  &__menu {
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 15px 0 rgba(101, 113, 128, 0.2), 0 2px 4px 0 rgba(140, 148, 160, 0.15);

    .invoice_controls {
      float: none;

      &__btn {
        float: none;
        width: 100%;
        display: block;
        font-weight: $fw-semi;
        letter-spacing: 1.5px;
        text-align: center;
        color: #111111;
        text-transform: uppercase;

        @include rem(font-size, 13px);
        @include rem(padding, 20px !important);

        .icon {
          display: block;

          @include rem(margin, 0 0 8px 0 !important);

          &--pay {
            @include rem(font-size, 22px !important);
            @include rem(margin, 0 0 10px 0 !important);
          }
        }

        &._delete_draft_invoice {
          color: #ff3e2e !important;

          .icon {
            color: #ff3e2e;
          }
        }
      }
    }
  }

  @media all and (max-width: $screen-tablet) {
    position: relative;
    right: auto;
    width: 100%;
    overflow: hidden;

    &__qr {
      float: right;

      @include rem (margin-left, 20px);
    }

    &__menu {
      overflow: hidden;
      box-shadow: none;

      @include rem (margin-top, 20px);

      .invoice_controls {
        &__btn {
          display: inline-block;
          width: auto;
          margin-right: 0 !important;
        }
      }
    }
  }

  @media all and (max-width: $screen-landscape) {
    &__menu {
      margin-top: 0;

      .invoice_controls {
        &__btn {
          padding: 10px !important;
          text-align: left;

          .icon {
            display: inline-block;
            margin-bottom: 0 !important;
            margin-right: 5px !important;
          }
        }
      }
    }
  }

  @media all and (max-width: $screen-mobile-tiny) {
    margin-bottom: 20px;

    &__menu {
      .invoice_controls {
        &__btn {
          display: block;
        }
      }
    }
  }
}
