.invoice_header {
  text-align: center;

  @include rem(margin-bottom, 75px);

  .page__title {
    color: #111;
  }

  &__subtitle {
    font-weight: $fw-light;
    line-height: normal;
    color: #8c94a0;

    @include rem(font-size, 28px);
  }

  @media all and (max-width: $screen-mobile) {
    text-align: left;
    margin-bottom: 25px;

    .page__title {
      font-size: 26px;
      letter-spacing: -0.4px;
      margin-bottom: 12px;
    }

    &__subtitle {
      font-size: 16px;
    }
  }
}

.invoice_info {
  @include rem(margin-bottom, 50px);
  @include clearfix;
  
  &__left {
    float: left;
    width: 220px;

    @include rem(margin-right, 50px);
  }

  &__right {
    overflow: hidden;
  }

  &__qr {
    margin-bottom: 52px;
  }

  &__loader {
    overflow: hidden;
    border: solid 1px #e6e8ea;
    border-radius: $border-radius;
    padding: 8px 15px;

    .pie {
      float: left;
      margin-right: 15px;
    }

    span {
      font-weight: $fw-semi;
      color: #333333;
      display: inline-block;
      font-size: 16px;
      padding: 10px 0;
    }
  }

  &__row {
    margin-bottom: 20px;
  }

  &__value {
    font-weight: $fw-semi;
    line-height: normal;
    color: #333333;
    font-size: 24px;

    &--thin {
      font-weight: $fw-light;
    }
  }

  &__title {
    font-weight: normal;
    letter-spacing: 2.3px;
    text-align: left;
    color: rgba(#657180, .6);
    text-transform: uppercase;
    font-size: 13px;
  }

  &__hint {
    line-height: 1.43;
    color: rgba(#3f4d60, .6);
    font-size: 14px;
    margin-top: 12px;
  }

  hr {
    @include rem(margin, 25px 0);
  }

  .hint {
    line-height: 1.56;
    color: #3f4d60;

    @include rem(font-size, 16px);
  }
  
  @media all and (max-width: $screen-landscape) {
    &__loader {
      margin-bottom: 12px;
    }

    &__qr {
      margin-bottom: 25px;
    }
  }

  @media all and (max-width: $screen-mobile) {
    margin-bottom: 10px;

    &__left {
      float: none;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }

    .hint {
      text-align: center;
      padding: 0 10px;
      color: rgba($secondary, .6);
    }

    &__qr {
      text-align: center;

      img {
        width: 152px;
        height: 152px;
      }
    }

    &__right {
      border-top: 1px solid #ebedef;
      padding-top: 30px;
    }
  }
}

.invoice_form {
  &__title {
    color: #111;
    line-height: 1;
    font-family: $ff-alt;
    font-weight: $fw-semi;
    letter-spacing: -0.9px;

    @include rem(font-size, 60px);
    @include rem(margin-bottom, 2px);
  }

  &__status {
    line-height: 1.33;
    font-family: $ff-alt;
    letter-spacing: -0.3px;
    color: rgba($secondary, .6);

    @include rem(font-size, 30px);

  }
}