extends includes/layout.pug

block content
  include includes/invoice_paid-content.html
  include includes/modal-delete-content.html
  include includes/_modal_share.html
  include includes/_modal_refund.html
block page scripts
  include includes/modal-script.html
  include includes/clipboard-script.html
  include includes/suggest-script.html
  include includes/invoice_paid-script.html
