doctype html
html
  include includes/head.html
  body
    include includes/menu_overlay.html

    include includes/modal-content.html

    include includes/header.html

    include includes/invoice_draft-content.html

    include includes/footer.html
    include includes/scripts.html

    include includes/modal-script.html

