extends includes/layout.pug

block content
  include includes/_generated_sidebar.html
  include includes/profile-content.pug
block page scripts
  include includes/profile-script.html
  include includes/profile_fill-script.html
