extends includes/layout.pug

block content
  include includes/_draft_sidebar.html
  include includes/profile-content.pug
block page scripts
  include includes/profile-script.html
  include includes/profile_draft-script.html
