//- https://pugjs.org/language/mixins.html#mixin-blocks
mixin content()

  <article class="content">
    <section class="section section--lead">
      <div class="container">
        if block
          block
      </div>
    </section>
  </article>

