<div class="modal_dialog modal_dialog_share">
  <div class="modal_dialog__title">
    Share Invoice #4974732
  </div>
  <div class="modal_dialog__text">
    <form action="" class="form_settings">
      <div class="form-group">
        <div class="input-group">
          <input type="text" id="link" class="form-control form-control--readonly" value="https://www.lykke.com/?ref=dustin34ie8" readonly>
          <i class="icon icon--copy input-group-addon _copy"></i>
        </div>
      </div>

      <hr>
      <p>Please enter e-mail of recipient:</p>
      <div class="form-group">
        <div class="input-group input-group--suggest">
          <label for="suggest" class="control-label">To:</label>
          <input type="text" class="form-control _suggest" name="suggest" id="suggest" placeholder=""/>
        </div>
      </div>
    </form>
  </div>
  <div class="modal_dialog__controls">
    <div class="pull-right">
      <button class="btn btn--flat _modal_dialog__cancel">Cancel and close</button>
      <button class="btn btn--primary">Send invoice</button>
    </div>
  </div>
</div>
