<div class="modal_dialog modal_dialog_refund">
  <div class="modal_dialog__title">
    Refund
  </div>
  <div class="modal_dialog__text">
    <form action="" class="form_settings">
      <div class="form-group">
        <label for="select3" class="control-label">Payment asset</label>
        <div class="form_selectpicker form-group">
          <select id="select3" class="selectpicker" data-size="10">
            <option>BTC</option>
            <option>USDT</option>
            <option>LKK</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="select4" class="control-label">Select address</label>
        <div class="form_selectpicker form-group">
          <select id="select4" class="selectpicker" data-size="10">
            <option>AXkedGbAH1XGDpAypVzA5eyjegX4FaCnvM</option>
            <option>AXkedGbAH1XGDpAypVzA5eyjegX4FaCnvM</option>
            <option>AXkedGbAH1XGDpAypVzA5eyjegX4FaCnvM</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="addrs" class="control-label">Or enter another address</label>

        <div class="input-group">
          <input type="text" id="addrs" name="addrs" class="form-control">
        </div>
      </div>

      <hr>
      <div class="amount_total clearfix">
        <div class="amount_total__title pull-left">Amount</div>
        <div class="amount_total__value pull-right">0.00157 CHF</div>
      </div>

    </form>
  </div>
  <div class="modal_dialog__controls">
    <div class="pull-right">
      <button class="btn btn--flat _modal_dialog__cancel">Cancel and close</button>
      <button class="btn btn--primary">Confirm</button>
    </div>
  </div>
</div>
