<div class="header_nav_container">
  <nav class="header_nav">
    <div class="header_nav__inner">
      <div class="container header_menu_container">

        <ul class="header_nav__list nav_list">
          <li class="nav_list__item nav_list__item--active">
            <a href="#">Payments</a>
          </li>
          <li class="nav_list__item">
            <a href="#">Money requests</a>
          </li>
          <li class="nav_list__item">
            <a href="#">Tools</a>
          </li>
          <li class="nav_list__item">
            <a href="#">Transfers</a>
          </li>
          <li class="nav_list__item">
            <a href="#">Accounts</a>
          </li>
          <li class="nav_list__item">
            <a href="#">Users</a>
          </li>
          <li class="nav_list__item">
            <a href="#">Settings</a>
          </li>
          <li class="nav_list__item">
            <a href="#">Documentation</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
