<div class="_payments_sidebar sidebar_menu sidebar_menu--right">
  <form class="invoice_form sidebar_menu__inner">
    <div class="sidebar_breadcrumbs">
      <button class="btn btn--icon btn_close_menu visible-xs" type="button">
        <i class="icon icon--close"></i>
      </button>
      <div class="breadcrumbs_item">
        <a href="">Profile</a>
      </div>
      <i class="icon icon--chevron-thin-right"></i>
      <div class="breadcrumbs_item breadcrumbs_item--current">Information</div>
    </div>
    <div class="sidebar_menu__body">
      <div class="sidebar_menu__header">
        <div class="invoice_form__title">Payments</div>
        <div class="invoice_form__status">Overview</div>
      </div>

      <div class="sidebar_summary sidebar_summary--two_cols">
        <div class="sidebar_summary__item">
          <div class="sidebar_summary__header">Total</div>
          <div class="sidebar_summary__list">
            <div class="sidebar_summary__row sidebar_summary__row--header">
              <div class="sidebar_summary__td sidebar_summary__td--first">State</div>
              <div class="sidebar_summary__td sidebar_summary__td--third">Assets</div>
            </div>
            <div class="sidebar_summary__row">
              <div class="sidebar_summary__td sidebar_summary__td--first">Expected in payout asset</div>
              <div class="sidebar_summary__td sidebar_summary__td--third">120,000 USD / 123 PKT</div>
            </div>
            <div class="sidebar_summary__row">
              <div class="sidebar_summary__td sidebar_summary__td--first">Received in payout asset</div>
              <div class="sidebar_summary__td sidebar_summary__td--third">300,000 USD / 123 PKT</div>
            </div>
            <div class="sidebar_summary__row">
              <div class="sidebar_summary__td sidebar_summary__td--first">Refunded in payout asset</div>
              <div class="sidebar_summary__td sidebar_summary__td--third">50,000 USD / 0 PKT</div>
            </div>
            <div class="sidebar_summary__row">
              <div class="sidebar_summary__td sidebar_summary__td--first">Paid out (in payout asset)</div>
              <div class="sidebar_summary__td sidebar_summary__td--third">100,000 USD / 123 PKT</div>
            </div>
            <div class="sidebar_summary__row">
              <div class="sidebar_summary__td sidebar_summary__td--first">Unresolved (in payout asset)</div>
              <div class="sidebar_summary__td sidebar_summary__td--third">150,000 / 0 PKT</div>
            </div>
          </div>
        </div>
        <div class="sidebar_summary__item">
          <div class="sidebar_summary__header">Paid correctly</div>
          <div class="sidebar_summary__list">
            <div class="sidebar_summary__row sidebar_summary__row--header">
              <div class="sidebar_summary__td sidebar_summary__td--first">State</div>
              <div class="sidebar_summary__td sidebar_summary__td--third">Assets</div>
            </div>
            <div class="sidebar_summary__row">
              <div class="sidebar_summary__td sidebar_summary__td--first">Expected in payout asset</div>
              <div class="sidebar_summary__td sidebar_summary__td--third">23,847.09 USD / 123 PKT</div>
            </div>
            <div class="sidebar_summary__row">
              <div class="sidebar_summary__td sidebar_summary__td--first">Expected in payment asset</div>
              <div class="sidebar_summary__td sidebar_summary__td--third">3.5 BTC / 123 PKT</div>
            </div>
            <div class="sidebar_summary__row">
              <div class="sidebar_summary__td sidebar_summary__td--first">Received in payment asset</div>
              <div class="sidebar_summary__td sidebar_summary__td--third">3.5 BTC / 123 PKT</div>
            </div>
            <div class="sidebar_summary__row">
              <div class="sidebar_summary__td sidebar_summary__td--first">Paid out</div>
              <div class="sidebar_summary__td sidebar_summary__td--third">12,000 USD / 1.5 BTC / 123 PKT</div>
            </div>
            <div class="sidebar_summary__row">
              <div class="sidebar_summary__td sidebar_summary__td--first">Unresolved</div>
              <div class="sidebar_summary__td sidebar_summary__td--third">0 BTC / 0 PKT</div>
            </div>
          </div>
        </div>
        <div class="sidebar_summary__item">
          <div class="sidebar_summary__header">Underpaid</div>
          <div class="sidebar_summary__list">
            <div class="sidebar_summary__row sidebar_summary__row--header">
              <div class="sidebar_summary__td sidebar_summary__td--first">State</div>
              <div class="sidebar_summary__td sidebar_summary__td--third">Assets</div>
            </div>
            <div class="sidebar_summary__row">
              <div class="sidebar_summary__td sidebar_summary__td--first">Expected in payout asset</div>
              <div class="sidebar_summary__td sidebar_summary__td--third">23,847.09 USD / 123 PKT</div>
            </div>
            <div class="sidebar_summary__row">
              <div class="sidebar_summary__td sidebar_summary__td--first">Expected in payment asset</div>
              <div class="sidebar_summary__td sidebar_summary__td--third">3.5 BTC / 123 PKT</div>
            </div>
            <div class="sidebar_summary__row">
              <div class="sidebar_summary__td sidebar_summary__td--first">Received in payment asset</div>
              <div class="sidebar_summary__td sidebar_summary__td--third">3.5 BTC / 123 PKT</div>
            </div>
            <div class="sidebar_summary__row">
              <div class="sidebar_summary__td sidebar_summary__td--first">Paid out</div>
              <div class="sidebar_summary__td sidebar_summary__td--third">12,000 USD / 1.5 BTC / 123 PKT</div>
            </div>
            <div class="sidebar_summary__row">
              <div class="sidebar_summary__td sidebar_summary__td--first">Unresolved</div>
              <div class="sidebar_summary__td sidebar_summary__td--third">0 BTC / 0 PKT</div>
            </div>
          </div>
        </div>
      </div>

      <div class="sidebar_menu__footer">
        <div class="form-group">
          <button class="btn btn-block btn_close_menu" type="button">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>
