<article class="content">
  <section class="section section--lead">
    <div class="container">
      <div class="relative hidden-xs hidden-sm">
        <a href="javascript:void(0)" onclick="history.back()" class="btn_back">
          <i class="icon icon--back_arrow"></i>
          Back
        </a>
      </div>

      <div class="row">
        <div class="col-md-6 automargin">
          <form class="form form_signup">
            <div class="form_title">
              <h2>Change password</h2>
            </div>

            <div class="form-group">
              <label for="password" class="control-label">Current password</label>

              <div class="input-group "><!--.input-group--error-->
                <input type="password" id="password" class="form-control">
                <!-- TODO toggle icon classes and input type, show icon if input has value-->
                <i class="icon icon--show input-group-addon"></i>
                <!--<i class="icon icon--hide input-group-addon"></i>-->
              </div>
              <!-- <div class="hint hint--error">The username or password you entered is incorrect</div> -->
            </div>

            <div class="form-group">
              <label for="password_n" class="control-label">New password <a href="#" class="btn btn--icon"><i class="icon icon--info"></i></a></label>

              <div class="input-group "><!--.input-group--error-->
                <input type="password" id="password_n" class="form-control">
                <!-- TODO toggle icon classes and input type, show icon if input has value-->
                <i class="icon icon--show input-group-addon"></i>
                <!--<i class="icon icon--hide input-group-addon"></i>-->
              </div>
              <!-- <div class="hint hint--error">The username or password you entered is incorrect</div> -->
            </div>

            <div class="form-group">
              <label for="password_r" class="control-label">Re-enter password</label>

              <div class="input-group "><!--.input-group--error-->
                <input type="password" id="password_r" class="form-control">
                <!-- TODO toggle icon classes and input type, show icon if input has value-->
                <i class="icon icon--show input-group-addon"></i>
                <!--<i class="icon icon--hide input-group-addon"></i>-->
              </div>
              <!-- <div class="hint hint--error">The username or password you entered is incorrect</div> -->
            </div>

            <div class="submit-group">
              <button class="btn btn--primary" type="submit">Submit</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </section>

</article>
