
<div class="header_container">
  <header class="header">
    <div class="container">
      <div class="header__logo header_logo">
        <a href="/">
          <img class="header_logo__img" src="img/lykke_new.svg" height="36" alt="lykke_logo">
        </a>
      </div>
      <div class="header__actions header_actions pull-right">
        <div class="header_actions__services">
          <button class="btn btn--icon _open_submenu" type="button">
            <i class="icon icon--services"></i>
            <span>Services</span>
          </button>
          <menu class="header_submenu submenu">
            <div class="submenu_list">
              <ul class="main_projects_list">
                <li class="main_projects_list__item">
                  <a href="https://www.lykke.com/" target="_blank" class="main_projects_list__link">
                    <div class="main_projects_list__img">
                      <img src="img/services/lykke_wallet_icon.svg" alt="lykke_wallet_logo" width="40">
                    </div>
                    <div class="main_projects_list__content">
                      <div class="main_projects_list__title">Lykke Wallet</div>
                      <div class="main_projects_list__text">
                        Trade FX and Digital Assets
                      </div>
                    </div>
                  </a>
                </li>

                <li class="main_projects_list__item">
                  <a href="https://streams.lykke.com/" target="_blank" class="main_projects_list__link">
                    <div class="main_projects_list__img">
                      <img src="img/services/streams_icon.svg" alt="streams_logo" width="40">
                    </div>
                    <div class="main_projects_list__content">
                      <div class="main_projects_list__title">Lykke Streams</div>
                      <div class="main_projects_list__text">
                        Competition platform. Is helping the great ideas to meet the bright minds
                      </div>
                    </div>
                  </a>
                </li>

                <li class="main_projects_list__item">
                  <a href="https://blockchainexplorer.lykke.com/" target="_blank" class="main_projects_list__link">
                    <div class="main_projects_list__img">
                      <img src="img/services/blockchain_explorer_icon.svg" alt="bl_explorer_logo" width="40">
                    </div>
                    <div class="main_projects_list__content">
                      <div class="main_projects_list__title">Blockchain Explorer</div>
                      <div class="main_projects_list__text">
                        Explore the Blockchain. Search transaction, assets, addresses or blocks
                      </div>
                    </div>
                  </a>
                </li>
              </ul>

              <ul class="social">
                <li><a href="https://www.facebook.com/LykkeCity" target="_blank" class="social__item" rel="noopener noreferrer"><i class="icon icon--fb_simple"></i></a></li>
                <li><a href="https://twitter.com/LykkeCity" target="_blank" class="social__item" rel="noopener noreferrer"><i class="icon icon--tw"></i></a></li>
                <li><a href="http://instagram.com/lykkecity" target="_blank" class="social__item" rel="noopener noreferrer"><i class="icon icon--instagram"></i></a></li>
                <li><a href="https://www.youtube.com/c/LykkeX" target="_blank" class="social__item" rel="noopener noreferrer"><i class="icon icon--youtube"></i></a></li>
                <li><a href="https://www.linkedin.com/company/lykke-ag" target="_blank" class="social__item" rel="noopener noreferrer"><i class="icon icon--linkedin-icn"></i></a></li>
                <li><a href="https://www.reddit.com/r/lykke/" target="_blank" class="social__item" rel="noopener noreferrer"><i class="icon icon--reddit"></i></a></li>
                <li><a href="https://t.co/TmjMYnQD7T" target="_blank" class="social__item" rel="noopener noreferrer"><i class="icon icon--telegram"></i></a></li>
                <li><a href="https://t.me/LykkeDev" target="_blank" class="social__item" rel="noopener noreferrer"><i class="icon icon--telegram_dev"></i></a></li>

              </ul>
            </div>

          </menu>
        </div>
        <div class="header_actions__login header_login">

          <div class="header_user dropdown__control">
            <a href="/Home/SignIn">
              <!--<div class="header_login__title">Sign in</div>-->

              <div class="header_user__img">
                <img src="img/user_default.svg" width="40" alt="user_image">
              </div>
            </a>
          </div>

          <div class="dropdown__container">
            <ul class="dropdown__nav">
              <li><a href="/Home/LogOut">Sign Out</a></li>
            </ul>
          </div>

        </div>
        <div class="header_actions__logout visible-xs">
          <a href="/Home/LogOut" class="btn btn--icon btn_logout">
            <i class="icon icon--exit"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="header_search">
      <div class="container">
        <div class="header_search__inner">
          <div class="header_search__buttons">
            <button type="button" class="btn btn-sm btn--flat hidden-xs btn_close_header">Cancel</button>
            <button type="button" class="btn btn-sm btn--primary hidden-xs">Search</button>
            <button type="button" class="btn btn--icon visible-xs btn_close_header">
              <i class="icon icon--cancel_round"></i>
            </button>
          </div>
          <div class="header_search__field">
            <button class="header_search__btn btn btn--icon" type="button">
              <i class="icon icon--search"></i>
            </button>
            <input type="text" class="form-control" placeholder="Search block, address, transaction…">
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
