
<div class="header_container">
  <header class="header">
    <div class="container">
      <div class="header_wrapper">
        <div class="header__logo header_logo">
          <a href="/">
            <img class="header_logo__img" src="img/lykke_exchange_spot_logo.svg" height="36" alt="lykke_logo">
            <div class="header_logo__title">Lykke<span>Pay</span></div>
          </a>
        </div>
        <div class="header__actions header_actions pull-right">
          <div class="header_actions__login header_login">

            <div class="header_user dropdown__control">
              <a href="login.html">
                <div class="header_login__title">Sign in</div>

<!--                <div class="header_user__img">
                  <img src="img/user_default.svg" width="40" alt="user_image">
                </div>-->
              </a>
            </div>

<!--            <div class="dropdown__container">
              <ul class="dropdown__nav">
                <li><a href="/Home/LogOut">Manage account</a></li>
                <li><a href="/Home/LogOut">Sign Out</a></li>
              </ul>
            </div>-->

          </div>
          <div class="header_actions__signup">
              <a href="signup.html" class="btn btn--primary btn-sm">
                  Get started
              </a>
          </div>

          <div class="header_actions__logout visible-xs">
            <a href="/Home/LogOut" class="btn btn--icon btn_logout">
              <i class="icon icon--exit"></i>
            </a>
          </div>
        </div>

      </div>
    </div>

    <div class="header_search">
      <div class="container">
        <div class="header_search__inner">
          <div class="header_search__buttons">
            <button type="button" class="btn btn-sm btn--flat hidden-xs btn_close_header">Cancel</button>
            <button type="button" class="btn btn-sm btn--primary hidden-xs">Search</button>
            <button type="button" class="btn btn--icon visible-xs btn_close_header">
              <i class="icon icon--cancel_round"></i>
            </button>
          </div>
          <div class="header_search__field">
            <button class="header_search__btn btn btn--icon" type="button">
              <i class="icon icon--search"></i>
            </button>
            <input type="text" class="form-control" placeholder="Search block, address, transaction…">
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
