<article class="content">
  <section class="section section--padding">
    <div class="container">

      <div class="relative hidden-xs hidden-sm">
        <a href="#" onclick="history.back()" class="btn_back">
          <i class="icon icon--back_arrow"></i>
          Back
        </a>
      </div>

      <div class="invoice_page">
        <div class="row">
          <div class="col-md-8 automargin">
            <div class="invoice_header">
              <div class="row">
                <div class="col-md-8">
                  <h1 class="page__title">Invoice #4974732</h1>
                  <div class="invoice_header__link">
                    <a href="">https://www.lykke.com/invoices/#4974732</a>
                    <button class="btn btn--icon _copy" type="button">
                      <i class="btn__svg_icon svg_icon svg_icon--ulpoad"></i>
                    </button>
                  </div>
                </div>
              </div>

              <div class="invoice_header__desc">
                <div class="invoice_header__data">Thursday, November 3, 2016 3:50:24 PM</div>
              </div>
            </div>
          </div>
        </div>

        <div class="invoice_actions">
          <div class="invoice_actions__qr">
            <img src="img/qr.png" alt="qr" width="120">
          </div>
          <div class="invoice_actions__menu">
            <div class="invoice_controls">
              <button class="btn btn--flat btn--default invoice_controls__btn" type="button">
                <i class="icon icon--exchange"></i>
                Refresh
              </button>
              <button class="btn btn--flat btn--default invoice_controls__btn _open_modal_share" type="button">
                <i class="icon icon--share"></i>
                Share
              </button>
              <button class="btn btn--flat btn--default invoice_controls__btn _delete_draft_invoice" type="button">
                <i class="icon icon--delete"></i>
                Delete
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 automargin">

            <div class="asset_link_list asset_link_list--thin">
              <div class="row">
                <div class="col-md-6">
                  <div class="asset_link">
                    <div class="asset_link__info">
                      <div class="asset_link__title">Client</div>
                      <div class="asset_link__desc">Budweiser Stag Brewing Company</div>
                    </div>
                  </div>
                  <div class="asset_link">
                    <div class="asset_link__info">
                      <div class="asset_link__title">Email</div>
                      <div class="asset_link__desc">info@budweiser.com</div>
                    </div>
                  </div>
                  <div class="asset_link">
                    <div class="asset_link__info">
                      <div class="asset_link__title">Status</div>
                      <div class="asset_link__desc">
                        <div class="pull-right label label--yellow">Unpaid</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="asset_link">
                    <div class="asset_link__info">
                      <div class="asset_link__title">Amount</div>
                      <div class="asset_link__desc">1,324.92</div>
                    </div>
                  </div>
                  <div class="asset_link">
                    <div class="asset_link__info">
                      <div class="asset_link__title">Currency</div>
                      <div class="asset_link__desc">CHF</div>
                    </div>
                  </div>
                  <div class="asset_link">
                    <div class="asset_link__info">
                      <div class="asset_link__title">Pay due date</div>
                      <div class="asset_link__desc">Thursday, November 3, 2016 3:50:24 PM</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Do not show attachment files if they were not added -->

            <div class="form_header">
              <h3>History</h3>
            </div>

            <div class="history_list">
              <div class="history_item">
                <div class="history_item__img">
                  <div class="_circle">DJ</div>
                </div>
                <div class="history_item__content">
                  <div class="pull-right label label--gray">Draft</div>
                  <div class="history_item__title">
                    Dustin James
                    <span class="middot">&middot;</span>
                    <div class="history_item__date">08:22 AM January 10, 2018</div>
                  </div>
                  <div class="history_item__text">Draft created</div>
                </div>
              </div>
              <div class="history_item">
                <div class="history_item__img">
                  <div class="_circle">DJ</div>
                </div>
                <div class="history_item__content">
                  <div class="pull-right label label--yellow">Unpaid</div>
                  <div class="history_item__title">
                    Dustin James
                    <span class="middot">&middot;</span>
                    <div class="history_item__date">08:22 AM January 10, 2018</div>
                  </div>
                  <div class="history_item__text">Invoice generated: N CHF to be paid</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</article>
