<article class="content">
  <section class="section section--padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-6 automargin">
          <div class="invoice_header text-center">
            <h1 class="page__title">Invoice #4974732</h1>
            <div class="invoice_header__subtitle">by Budweiser Stag Brewing Company</div>
          </div>

          <div class="invoice_info clearfix">
            <div class="invoice_info__left">
              <div class="invoice_info__qr invoice_info__qr--detecting">
                <img class="invoice_info__qr_img_220" src="https://chart.googleapis.com/chart?chs=220x220&chld=L%7C0&cht=qr&chl=bitcoin:mq9NBXSJsBdDp8cRnYzMFJQX4YTRx56Y3t?amount=0.0017701&label=invoice%20#tt100&message=6d80e548-8c35-46f0-9de5-2663e24b4860"
                  alt="qr" width="220" height="220">
                <img class="invoice_info__qr_img_152" src="https://chart.googleapis.com/chart?chs=152x152&chld=L%7C0&cht=qr&chl=bitcoin:mq9NBXSJsBdDp8cRnYzMFJQX4YTRx56Y3t?amount=0.0017701&label=invoice%20#tt100&message=6d80e548-8c35-46f0-9de5-2663e24b4860"
                  alt="qr" width="152" height="152">
              </div>
              <div class="invoice_info__loader">
                <div class="pie pie--orange">
                  <div class="pie_inner">
                    <div class="pie_half">
                      <div class="pie_circle-right">
                        <div class="pie_blocker-1"></div>
                      </div>
                    </div>
                    <div class="pie_half pie_half-left">
                      <div class="pie_circle-left">
                        <div class="pie_blocker-2"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <span>5 min remaining…</span>
              </div>

              <div class="invoice_info__hint--mobile hint">
                We are detecting your transfer,
                please do not do any transfers the following 5 minutes.
              </div>
            </div>
            <div class="invoice_info__right">
              <div class="invoice_info__row invoice_info__row--detecting">
                <div class="invoice_info__value">0.18446902
                  <div class="invoice_info__select custom_dropdown">
                    <select class="selectpicker inline_select" data-size="10" data-live-search="true" data-live-search-placeholder="Asset name">
                      <option value="BTC" selected>BTC</option>
                      <option value="USD">USD</option>
                      <option value="CHF">CHF</option>
                      <option value="EUR">EUR</option>
                      <option value="GBP">GBP</option>
                      <option value="LKK">LKK</option>
                      <option value="LKK1Y">LKK1Y</option>
                      <option value="LKK2Y">LKK2Y</option>
                      <option value="LTC">LTC</option>
                      <option value="ETH">ETH</option>
                      <option value="AE">AE</option>
                    </select>
                  </div>
                </div>
                <span class="invoice_info__title">FOR PAYMENT</span>
              </div>
              <div class="invoice_info__row invoice_info__row--detecting">
                <div class="invoice_info__value invoice_info__value--thin">1 BTC = 15 000 USD</div>
                <span class="invoice_info__title">Exchange rate</span>
              </div>
              <div class="invoice_info__row">
                <div class="invoice_info__hint">Includes 1.4% uplift for covering the exchange risk and the 8.6% fee</div>
              </div>
              <div class="invoice_info__row">
                <div class="invoice_info__value">1,500 USD</div>
                <span class="invoice_info__title">Original</span>
              </div>

              <div class="invoice_info__hint--mobile-old">
                <hr>
                <div class="hint">
                  We are detecting your transfer,
                  please do not do any transfers the following 5 minutes.
                </div>
              </div>
            </div>
          </div>

          <div class="invoice_refresh">
            <button class="btn invoice_refresh__btn">Refresh the price, I haven't paid yet</button>
            <div class="invoice_refresh__text">If you have any other problem contact our support:
              <a class="invoice_refresh__a" href="mailto:support@lykke.com">support@lykke.com</a>
            </div>
          </div>

          <div class="asset_link_list">
            <div class="asset_link">
              <div class="asset_link__action">
                <button class="btn btn--icon _copy" type="button">
                  <i class="btn__svg_icon svg_icon svg_icon--copy"></i>
                </button>
              </div>
              <div class="asset_link__info">
                <div class="asset_link__title">Payment address</div>
                <div class="asset_link__desc">akDUVgJyC5stSXwUnhSVkmWGPQeL6hrmYWn</div>
              </div>
            </div>
            <div class="asset_link">
              <div class="asset_link__info">
                <div class="asset_link__title">Pay Due Date</div>
                <div class="asset_link__desc">Thursday, November 3, 2016 3:50:24 PM</div>
              </div>
            </div>
            <div class="asset_link">
              <div class="asset_link__info">
                <div class="asset_link__title">Note</div>
                <div class="asset_link__desc">Invoice #4974732 will be paid within 24 hours (or faster)</div>
              </div>
            </div>
          </div>

          <h4>Files</h4>
          <div class="asset_link_list">
            <div class="asset_link asset_link--alt">
              <div class="asset_link__icon">
                <div class="asset_icon asset_icon--red">PDF</div>
              </div>
              <div class="asset_link__action">
                <button class="btn btn--icon _delete_asset">
                  <i class="btn__svg_icon svg_icon svg_icon--upload"></i>
                </button>
              </div>
              <div class="asset_link__info">
                <div class="asset_link__title">BAS Rechnung Sponsoring…- Sheet1.pdf</div>
                <div class="asset_link__desc">57KB</div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>
</article>
