<article class="content">
  <section class="section section--padding">
    <div class="container">
      <div class="relative hidden-xs hidden-sm">
        <a href="#" onclick="history.back()" class="btn_back">
          <i class="icon icon--back_arrow"></i>
          Back
        </a>
      </div>

      <div class="invoice_page">

        <div class="row">
          <div class="col-md-8 automargin">
            <div class="invoice_header">
              <div class="row">
                <div class="col-md-8">
                  <h1 class="page__title">Invoice #4974732</h1>
                  <div class="invoice_header__link">
                    <a href="">https://www.lykke.com/invoices/#4974732</a>
                    <button class="btn btn--icon _copy" type="button">
                      <i class="btn__svg_icon svg_icon svg_icon--copy"></i>
                    </button>
                  </div>
                </div>
              </div>

              <div class="invoice_header__desc">
                <div class="invoice_header__data">Thursday, November 3, 2016 3:50:24 PM</div>
              </div>
            </div>
          </div>
        </div>

        <div class="invoice_actions">
          <div class="invoice_actions__qr">
            <img src="img/qr.png" alt="qr" width="120">
          </div>
          <div class="invoice_actions__menu">
            <div class="invoice_controls">
              <button class="btn btn--flat btn--default invoice_controls__btn _open_modal_refund" type="button">
                <i class="icon icon--send"></i>
                Refund
              </button>
              <button class="btn btn--flat btn--default invoice_controls__btn" type="button">
                <i class="icon icon--exchange"></i>
                Refresh
              </button>
              <button class="btn btn--flat btn--default invoice_controls__btn _open_modal_share" type="button">
                <i class="icon icon--share"></i>
                Share
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 automargin">
            <div class="asset_link_list asset_link_list--thin">
              <div class="row">
                <div class="col-md-6">
                  <div class="asset_link">
                    <div class="asset_link__info">
                      <div class="asset_link__title">Client</div>
                      <div class="asset_link__desc">Budweiser Stag Brewing Company</div>
                    </div>
                  </div>
                  <div class="asset_link">
                    <div class="asset_link__info">
                      <div class="asset_link__title">Email</div>
                      <div class="asset_link__desc">info@budweiser.com</div>
                    </div>
                  </div>
                  <div class="asset_link">
                    <div class="asset_link__info">
                      <div class="asset_link__title">Status</div>
                      <div class="asset_link__desc">
                        <div class="pull-right label label--red">Internal error</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="asset_link">
                    <div class="asset_link__info">
                      <div class="asset_link__title">Amount</div>
                      <div class="asset_link__desc">1,324.92</div>
                    </div>
                  </div>
                  <div class="asset_link">
                    <div class="asset_link__info">
                      <div class="asset_link__title">Currency</div>
                      <div class="asset_link__desc">CHF</div>
                    </div>
                  </div>
                  <div class="asset_link">
                    <div class="asset_link__info">
                      <div class="asset_link__title">Pay due date</div>
                      <div class="asset_link__desc">Thursday, November 3, 2016 3:50:24 PM</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form_header">
              <h3>Files</h3>
            </div>

            <div class="attachment_list">
              <div class="asset_link_list">
                <div class="asset_link asset_link--alt">
                  <div class="asset_link__icon">
                    <div class="asset_icon asset_icon--red">PDF</div>
                  </div>
                  <div class="asset_link__action">
                    <button class="btn btn--icon _delete_asset">
                      <i class="btn__svg_icon svg_icon svg_icon--upload"></i>
                    </button>
                  </div>
                  <div class="asset_link__info">
                    <div class="asset_link__title">BAS Rechnung Sponsoring…- Sheet1.pdf</div>
                    <div class="asset_link__desc">57KB</div>
                  </div>
                </div>
              </div>
              <!--<div class="hint">No file selected</div>-->
            </div>

            <div class="blockchain_settlement_btn">
              <a href="" class="btn btn--flat">
                <img src="img/bl_explorer_logo.svg" width="40" alt="bl_explorer_logo">
                <span>Blockchain Settlement</span>
              </a>
            </div>

            <div class="form_header">
              <h3>History</h3>
            </div>

            <div class="history_list">
              <div class="history_item">
                <div class="history_item__img">
                  <div class="_circle">DJ</div>
                </div>
                <div class="history_item__content">
                  <div class="pull-right label label--gray">Draft</div>
                  <div class="history_item__title">
                    Dustin James
                    <span class="middot">&middot;</span>
                    <div class="history_item__date">08:22 AM January 10, 2018</div>
                  </div>
                  <div class="history_item__text">Draft created</div>
                </div>
              </div>
              <div class="history_item">
                <div class="history_item__img">
                  <div class="_circle">DJ</div>
                </div>
                <div class="history_item__content">
                  <div class="pull-right label label--yellow">Unpaid</div>
                  <div class="history_item__title">
                    Dustin James
                    <span class="middot">&middot;</span>
                    <div class="history_item__date">08:22 AM January 10, 2018</div>
                  </div>
                  <div class="history_item__text">Draft created</div>
                </div>
              </div>
              <div class="history_item">
                <div class="history_item__img">
                  <img src="http://lorempixel.com/40/40/" width="40" height="40" alt="pic">
                </div>
                <div class="history_item__content">
                  <div class="pull-right label label--blue">Settled</div>
                  <div class="history_item__title">
                    Christian Fuller
                    <span class="middot">&middot;</span>
                    <div class="history_item__date">23:21 AM January 12, 2018</div>
                  </div>
                  <div class="history_item__text">Settled N CHF to Lykke Wallet</div>
                </div>
              </div>
              <div class="history_item">
                <div class="history_item__img history_item__img--error">
                  <div class="_circle">!</div>
                </div>
                <div class="history_item__content">
                  <div class="pull-right label label--red">Paid error</div>
                  <div class="history_item__title">
                    Error
                    <span class="middot">&middot;</span>
                    <div class="history_item__date">23:21 AM January 12, 2018</div>
                  </div>
                  <div class="history_item__text">Transfer Y BTC from APdn8oY6fLMjRptvJ1jhqCnoGFAFQmdX1R to 2NAmtRw32LvymjsCx1Wdo8i42v49U6tHDEw expected
                    0 BTC</div>
                  <div class="history_item__message">
                    <form action="" class="form form--message">
                      <div class="message_card message_card--form">
                        <div class="user_badge user_badge--small">
                          <div class="user_badge__img">
                            <img src="http://lorempixel.com/40/40/" alt="user_image_alt">
                          </div>
                          <div class="user_badge__message">
                            <div class="message_card__inner">
                              <div class="user_badge__title">Kaylee Harper</div>
                              <textarea id="msg" placeholder="Enter your comment here..." class="form-control form-control--textarea message_card__area"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="message_actions">
                        <div class="row">
                          <div class="col-xs-8 text-right pull-right">
                            <div class="text--gray">Please remember to be respectful and considerate. Thanks!</div>
                          </div>
                          <div class="col-xs-4">
                            <button type="button" class="btn btn-block">Post comment</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <div class="history_item">
                <div class="history_item__img history_item__img--error">
                  <div class="_circle">!</div>
                </div>
                <div class="history_item__content">
                  <div class="pull-right label label--red">Paid error</div>
                  <div class="history_item__title">
                    Error
                    <span class="middot">&middot;</span>
                    <div class="history_item__date">23:21 AM January 12, 2018</div>
                  </div>
                  <div class="history_item__text">Transfer Y BTC from APdn8oY6fLMjRptvJ1jhqCnoGFAFQmdX1R to 2NAmtRw32LvymjsCx1Wdo8i42v49U6tHDEw expected
                    0 BTC</div>
                  <div class="history_item__message">
                    <div class="message_card message_card--send">
                      <div class="user_badge user_badge--small">
                        <div class="user_badge__img">
                          <a href="">
                            <img src="http://lorempixel.com/30/30/" alt="user_image_alt">
                          </a>
                        </div>
                        <div class="user_badge__message">
                          <div class="message_card__inner">
                            <div class="user_badge__title">
                              <a href="">Kaylee Harper</a>
                              <span class="middot">&middot;</span>
                              <span class="message_card__date">9:46 PM April 9, 2016</span>
                              <span class="middot">&middot;</span>
                              <span class="label label--dark label--text">edited
                                <i class="icon icon--edit_alt"></i>
                              </span>
                            </div>
                            <div class="message_card__message">
                              <p>
                                Transfer Y BTC from APdn8oY6fLMjRptvJ1jhqCnoGFAFQmdX1R to 2NAmtRw32LvymjsCx1Wdo8i42v49U6tHDEw expected 0 BTC
                              </p>

                              <!-- выводить для админа  -->
                              <div class="card__actions">
                                <a href="" class="action_link">Reply</a>
                                <span class="middot">&middot;</span>
                                <a href="" class="action_link">Delete</a>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="history_item">
                <div class="history_item__img history_item__img--refund">
                  <div class="_circle">
                    <i class="icon icon--move_to_thin"></i>
                  </div>
                </div>
                <div class="history_item__content">
                  <div class="pull-right label label--dark">Refund</div>
                  <div class="history_item__title">
                    Refund
                    <span class="middot">&middot;</span>
                    <div class="history_item__date">23:21 AM January 12, 2018</div>
                  </div>
                  <div class="history_item__text">Transfer Y BTC from APdn8oY6fLMjRptvJ1jhqCnoGFAFQmdX1R to 2NAmtRw32LvymjsCx1Wdo8i42v49U6tHDEw expected
                    0 BTC</div>
                  <div class="history_item__message">
                    <div class="message_card message_card--send">
                      <div class="user_badge user_badge--small">
                        <div class="user_badge__img">
                          <a href="">
                            <img src="http://lorempixel.com/30/30/" alt="user_image_alt">
                          </a>
                        </div>
                        <div class="user_badge__message">
                          <div class="message_card__inner">
                            <div class="user_badge__title">
                              <a href="">Kaylee Harper</a>
                              <span class="middot">&middot;</span>
                              <span class="message_card__date">9:46 PM April 9, 2016</span>
                              <span class="middot">&middot;</span>
                              <span class="label label--dark label--text">edited
                                <i class="icon icon--edit_alt"></i>
                              </span>
                            </div>
                            <div class="message_card__message">
                              <p>
                                Transfer Y BTC from APdn8oY6fLMjRptvJ1jhqCnoGFAFQmdX1R to 2NAmtRw32LvymjsCx1Wdo8i42v49U6tHDEw expected 0 BTC
                              </p>

                              <!-- выводить для админа  -->
                              <div class="card__actions">
                                <a href="" class="action_link">Reply</a>
                                <span class="middot">&middot;</span>
                                <a href="" class="action_link">Delete</a>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</article>
