<article class="content">
  <section class="section section--padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-6 automargin">
          <div class="invoice_header text-center">
            <h1 class="page__title">Invoice #4974732</h1>
            <div class="invoice_header__subtitle">by Budweiser Stag Brewing Company</div>
          </div>

          <div class="alert alert--green" role="alert">
            <table>
              <tr>
                <td>
                  <span class="label label--text label--white">Paid</span>
                </td>
                <td class="text-right">
                  <i class="icon icon--check_circle hidden-xs"></i>
                  Invoice has been paid
                  <span class="hidden-xs"> on 15.05.2016</span>
                </td>
              </tr>
            </table>
          </div>
          <div class="alert alert--red" role="alert">
            <table>
              <tr>
                <td>
                  <span class="label label--text label--white">Error</span>
                </td>
                <td class="text-right">
                  <i class="icon--warning_icn hidden-xs">
                    <span class="path1"><span class="path2"><span class="path3"></span></span></span>
                  </i>
                  0.18446902 BTC received
                  <span class="hidden-xs"> on 15.05.2016</span>
                </td>
              </tr>
            </table>
          </div>
          <div class="alert alert--violet" role="alert">
            <table>
              <tr>
                <td>
                  <span class="label label--text label--white">Underpaid</span>
                </td>
                <td class="text-right">
                  <i class="icon--remove_circle hidden-xs"></i>
                  0.18446902 BTC received
                  <span class="hidden-xs"> on 15.05.2016</span>
                </td>
              </tr>
            </table>
          </div>
          <div class="alert alert--violet" role="alert">
            <table>
              <tr>
                <td>
                  <span class="label label--text label--white">Overpaid</span>
                </td>
                <td class="text-right">
                  <i class="icon--add_circle hidden-xs"></i>
                  0.18446902 BTC received
                  <span class="hidden-xs"> on 15.05.2016</span>
                </td>
              </tr>
            </table>
          </div>
          <div class="alert alert--dark" role="alert">
            <table>
              <tr>
                <td>
                  <span class="label label--text label--white">Refund</span>
                </td>
                <td class="text-right">
                  <i class="icon--refund hidden-xs"></i>
                  0.18446902 BTC received
                  <span class="hidden-xs"> on 15.05.2016</span>
                </td>
              </tr>
            </table>
          </div>

          <div class="asset_link_list">
            <div class="asset_link">
              <div class="asset_link__info">
                <div class="asset_link__title">For payment</div>
                <div class="asset_link__desc">0.18446902 BTC</div>
              </div>
            </div>
            <div class="asset_link">
              <div class="asset_link__info">
                <div class="asset_link__title">Exchange rate</div>
                <div class="asset_link__desc">1 BTC = 15 000 USD</div>
              </div>
            </div>
            <div class="asset_link">
              <div class="asset_link__info">
                <div class="asset_link__title">Original</div>
                <div class="asset_link__desc">1,500 USD</div>
              </div>
            </div>
            <div class="asset_link">
              <div class="asset_link__info">
                <div class="asset_link__title">Pay Due Date</div>
                <div class="asset_link__desc">Thursday, November 3, 2016 3:50:24 PM</div>
              </div>
            </div>
            <div class="asset_link">
              <div class="asset_link__info">
                <div class="asset_link__title">Note</div>
                <div class="asset_link__desc">Invoice #4974732 will be paid within 24 hours (or faster)</div>
              </div>
            </div>
          </div>

          <h4>Files</h4>
          <div class="asset_link_list">
            <div class="asset_link asset_link--alt">
              <div class="asset_link__icon">
                <div class="asset_icon asset_icon--red">PDF</div>
              </div>
              <div class="asset_link__action">
                <button class="btn btn--icon _delete_asset">
                  <i class="btn__svg_icon svg_icon svg_icon--upload"></i>
                </button>
              </div>
              <div class="asset_link__info">
                <div class="asset_link__title">BAS Rechnung Sponsoring…- Sheet1.pdf</div>
                <div class="asset_link__desc">57KB</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</article>
