<article class="content">
  <section class="section section--padding">
    <div class="container">

      <div class="relative hidden-xs hidden-sm">
        <a href="#" onclick="history.back()" class="btn_back">
          <img src="img/back_icn.svg" width="30" height="12" alt="back">
        </a>
      </div>

      <div class="row">
        <div class="col-md-8 automargin">

          <div class="invoice_page">
            <div class="invoice_header">
              <div class="row">
                <div class="col-md-12">
                  <h1 class="page__title">Invoice #4974732556547883</h1>
                </div>
              </div>

              <div class="invoice_header__desc">
                <div class="row">
                  <div class="col-md-8">
                    <div class="invoice_header__data">Thursday, November 3, 2016 3:50:24 PM</div>
                  </div>
                  <div class="col-md-4">
                    <div class="invoice_controls">
                      <button class="invoice_controls__btn btn btn--flat btn--default btn-sm pull-left" type="button">
                        <i class="btn__svg_icon svg_icon svg_icon--edit svg_icon--margin"></i>
                        Edit
                      </button>
                      <button class="invoice_controls__btn btn btn--flat btn--default btn-sm pull-left _delete_draft_invoice" type="button">
                        <i class="btn__svg_icon svg_icon svg_icon--delete svg_icon--margin"></i>
                        Delete
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="asset_link_list asset_link_list--thin">
              <div class="row">
                <div class="col-md-6">
                  <div class="asset_link">
                    <div class="asset_link__info">
                      <div class="asset_link__title">Client</div>
                      <div class="asset_link__desc">Budweiser Stag Brewing Company</div>
                    </div>
                  </div>
                  <div class="asset_link">
                    <div class="asset_link__info">
                      <div class="asset_link__title">Email</div>
                      <div class="asset_link__desc">info@budweiser.com</div>
                    </div>
                  </div>
                  <div class="asset_link">
                    <div class="asset_link__info">
                      <div class="asset_link__title">Status</div>
                      <div class="asset_link__desc">
                        <div class="pull-right label label--yellow">Unpaid</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="asset_link">
                    <div class="asset_link__info">
                      <div class="asset_link__title">Amount</div>
                      <div class="asset_link__desc">1,324.92</div>
                    </div>
                  </div>
                  <div class="asset_link">
                    <div class="asset_link__info">
                      <div class="asset_link__title">Currency</div>
                      <div class="asset_link__desc">CHF</div>
                    </div>
                  </div>
                  <div class="asset_link">
                    <div class="asset_link__info">
                      <div class="asset_link__title">Pay due date</div>
                      <div class="asset_link__desc">Thursday, November 3, 2016 3:50:24 PM</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="asset_link">
                    <div class="asset_link__info">
                      <div class="asset_link__title">Note</div>
                      <div class="asset_link__desc">
                        <input type="text" class="form-control form-control--content" placeholder="Enter note here...">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form_header">
              <button type="button" class="btn btn-sm btn-primary pull-right">Add File</button>
              <h3>Attachment</h3>
            </div>

            <div class="attachment_list attachment_list--download">
              <div class="asset_link_list">
                <div class="asset_link asset_link--alt">
                  <div class="asset_link__icon">
                    <div class="asset_icon asset_icon--red">PDF</div>
                  </div>
                  <div class="asset_link__action">
                    <button class="btn btn--icon _delete_asset">
                      <i class="btn__svg_icon svg_icon svg_icon--delete"></i>
                    </button>
                  </div>
                  <div class="asset_link__info">
                    <div class="asset_link__title">BAS Rechnung Sponsoring…- Sheet1.pdf</div>
                    <div class="asset_link__desc">57KB</div>
                  </div>
                </div>
              </div>
              <!--<div class="hint">No file selected</div>-->
            </div>

            <div class="form_header">
              <h3>History</h3>
            </div>

            <div class="history_list">
              <div class="history_item">
                <div class="history_item__img">
                  <div class="_circle">DJ</div>
                </div>
                <div class="history_item__content">
                  <div class="pull-right label label--gray">Draft</div>
                  <div class="history_item__title">
                    Dustin James
                    <span class="middot">&middot;</span>
                    <div class="history_item__date">08:22 AM January 10, 2018</div>
                  </div>
                  <div class="history_item__text">Draft created</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</article>
