<script src="js/vendor/autosize.min.js"></script>
<script>
  if ($('#msg').length) {
    $('#msg')
      .bind('focus', function(){ $(this).parents('.form--message').addClass('focused'); })
      .keyup(function(){
        if ($(this).val()) { $(this).parents('.form--message').addClass('with_value'); }
        else { $(this).parents('.form--message').removeClass('with_value'); }
      })
      .each(function(){ autosize(this); })
      .on('autosize:resized', function(){
        $('.message_card__inner').css({ height: 'auto' })
      });
  }
</script>
