//- https://pugjs.org/language/includes.html
//- https://pugjs.org/language/inheritance.html
doctype html
html
  include head.html
  body
    include header.html
    block content
    include footer.html
    include scripts.html
    block page scripts

