<article class="content">
  <section class="section section--lead">
    <div class="container">
      <div class="row">
        <div class="col-md-6 automargin">
          <form class="form form_register">
            <div class="form_title">
              <h2>Welcome back</h2>
            </div>

            <div class="form-group">
              <label for="email" class="control-label">Email address</label>
              <div class="input-group">
                <input type="email" id="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Wrong email format">
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="control-label">Password</label>

              <div class="input-group "><!--.input-group--error-->
                <input type="password" id="password" class="form-control">
                <!-- TODO toggle icon classes and input type, show icon if input has value-->
                <i class="icon icon--show input-group-addon"></i>
                <!--<i class="icon icon--hide input-group-addon"></i>-->
              </div>
              <!-- <div class="hint hint--error">The username or password you entered is incorrect</div> -->
            </div>

            <div class="form-group form-group--inline">
              <div class="row">
                <div class="col-xs-6">
                  <div class="checkbox">
                    <input type="checkbox" name="checkbox1" id="checkbox12" class="checkbox__control" checked>
                    <label for="checkbox12" class="control-label checkbox__label">Remember me</label>
                  </div>
                </div>
                <div class="col-xs-6 text-right">
                  <a href="change_password.html" class="btn btn--flat">Forgot password?</a>
                </div>
              </div>
            </div>
            <div class="submit-group">
              <button class="btn btn--primary" type="submit">Sign in</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </section>

</article>
