<article class="content">
  <section class="section section--lead">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-6 automargin">
          <div class="page_settings">
            <h2 class="page__title">Merchant Display Name</h2>

            <div action="" class="form_settings">
              <h3>Account</h3>
              <div class="form-group">
                <label for="name" class="control-label">Full name</label>
                <div class="input-group">
                  <input type="text" id="name" class="form-control form_settings__info" value="Name Surname" disabled>
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="control-label">Email address</label>
                <div class="input-group">
                  <input type="email" id="email" class="form-control form_settings__info" disabled value="leroycox@lykke.com">
                </div>
              </div>
              <div class="form-group">
                <label for="password" class="control-label">Password</label>
                <div class="input-group ">
                  <input type="password" id="password" class="form-control" value="23e8d23e" disabled>
                </div>
                <a href="change_password.html" class="btn btn--flat">Change password</a>
              </div>

              <h3>Primary asset</h3>
              <p>The asset used to display total balance of all your paid and unpaid invoices.</p>

              <div class="form-group">
                <label for="name" class="control-label">Asset</label>
                <div class="form_selectpicker">
                  <select id="select1"
                          class="selectpicker"
                          data-live-search="true"
                          data-size="10">
                    <option>USD</option>
                    <option>EUR</option>
                    <option>CHF</option>
                    <option>EUR</option>
                    <option>USD</option>
                    <option>EUR</option>
                    <option>USD</option>
                    <option>EUR</option>
                    <option>USD</option>
                    <option>EUR</option>
                  </select>
                </div>
              </div>

              <h3>API key</h3>
              <div class="form-group">
                <label for="MerchantID" class="control-label">Merchant ID</label>
                <div class="input-group">
                  <input type="text" id="MerchantID" class="form-control form-control--readonly" value="9d9bcca0-6cce-4462-9c06-8284103e31e0" readonly>
                  <i class="icon icon--copy input-group-addon _copy"></i>
                </div>
              </div>
              <div class="form-group">
                <label for="MerchantAPI" class="control-label">Merchant API key</label>
                <div class="input-group">
                  <input type="text" id="MerchantAPI" class="form-control form-control--readonly" value="ByhCwTAWKHjcWCkAwanNr3eJb4VbTn" readonly>
                  <i class="icon icon--copy input-group-addon _copy"></i>
                </div>
              </div>

              <div class="form-group">
                <label for="MerchantSecret0" class="control-label">Merchant Secret</label>
                <div class="hint">Please be aware, we don’t store Merchant Secret on our servers. Every time you  push ‘Generate new’, new key is generated, the previous key becomes obsolete.</div>
                <button class="btn btn--primary" type="button">Generate</button>
              </div>

              <div class="form-group">
                <label for="MerchantSecret1" class="control-label">Merchant Secret</label>
                <div class="input-group">
                <textarea type="text" id="MerchantSecret1" class="form-control form-control--readonly" readonly>——BEGIN RSA PRIVATE KEY——
MIlEow1BAAKCAQEA5bphXvyM2Qk3vcCm5Bcx3IwsOfHH7Eb7tc1Z6Q2pPhfMUzpEr8tgZgCoQintMvVIFQnLxQ8NN012bp8Dd10exEQo+Uem3ApJ0VhaAXurRFBIDJnUhGUsOpNEn4etlfseS120KKvERUyFbJQw18Ps+sCfPnREwFj+deJ5a2ALjz48nQBDDX1Bh0yR037mgEJtGw1KIDJOTZF7qsKDs6F0E1jccisHcsS49/1vW6b1-1WFXzfoG4vaHVRkHOICh09nzY9VPfYmYC702EPQaFdevlqinx8113X+UuX3z7evKELK37jRqdRNZtvY4v58ck225RHhMIxA0k86rRpSc871VyTwIDAQABAolBAQCLCAyLw6C6gjh+e5HSyJDLDHcquLHL6Tna8vc5wcvyxipl4RgmVZ9kXenR83+uhgCyiun1hhPApTUps3aX0pzRJ711khzHvaX9VBFpK/fDUTKpoLOiaiF3sDmR51s1ajU9c7mYG30ALj3p/cxW+zpkX590XwnyuJTsIrMNpuGpfW1Pwa2w6msqE10/92LIIhiHFBRxqQh1Wk1ZaSFoHYEs6mmk7FX1A94x1YOTDjWfqWMiPifvd7zpchHgnIVqrFrudO4G7D+n84cxB2U8swPOLruhSna+9JElzpnmWrvObsaQpX6OOLYVIDBV5vZeUkHKeEGnhtbRO3LIIRYqYfEfy1h+CgzgBzopCoP2EbjfDgDSy+f3K6134iMne+bKzwDuRI6AYXxV10bWIljYZ3RXmZHUhGsySMzX4No9yWRJdv4JYFe0R+8X1bYcOOXyaSC3DB68Wlez
gV7A+wKBgHl/pMH1CIQLaW1e+OtLg3+/T42aXSRd4h7jKYUUDRC+611c/DvmbpoW
y9640BoEbjzEuSO4ZYynZZ9eut5kIblE1X16d9GFMYrgaLVtafFExGGPQkP1nW61
4RhB1m1M37Gs9MCrTGzjtwJc1S3zse7btiewKOZ2SqZ0FcqVvgKm
 END RSA PRIVATE KEY
                </textarea>
                  <i class="icon icon--copy input-group-addon _copy"></i>
                </div>
                <div class="hint">Please be aware, we don’t store Merchant Secret on our servers. Every time you  push ‘Generate new’, new key is generated, the previous key becomes obsolete.</div>
                <button class="btn btn--default" type="button">Re-generate</button>
              </div>

              <h3>Delete account</h3>
              <p>Permanently delete your account and all of your content.</p>

              <div class="btn btn--flat btn--red">
                <i class="icon icon--trash"></i>
                Delete your account
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
