<article class="content">
  <section class="section section--lead">
    <div class="container">
      <div class="row">
        <div class="col-md-6 automargin">
          <form class="form form_signup">
            <div class="form_title">
              <h2>Verify e-mail</h2>
              <p>Please enter the verification code we sent to your e-mail address.</p>
            </div>

            <div class="form-group">
              <label for="code" class="control-label">Code</label>
              <div class="input-group">
                <input type="text" id="code" class="form-control">
              </div>

              <p>I didn’t receive the code. <a href="">Please re-send</a>.</p>
            </div>

            <div class="form-group">
              <label for="code1" class="control-label">Code</label>
              <div class="input-group input-group--success">
                <input type="text" id="code1" class="form-control">
                <i class="icon icon--check_circle input-group-addon"></i>
              </div>
            </div>

            <div class="submit-group">
              <button class="btn btn--primary" type="submit" disabled>Verify</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </section>

</article>
