<article class="content">
  <section class="section section--padding">
    <div class="container">
      <div class="relative hidden-xs hidden-sm">
        <a href="#" onclick="history.back()" class="btn_back">
          <i class="icon icon--back_arrow"></i>
          Back
        </a>
      </div>

      <div class="row">
        <div class="col-md-8 automargin">
          <h1 class="page__title">Volatility rules</h1>

          <h3>Recommended Volatility shield</h3>
        </div>
      </div>
    </div>
  </section>
</article>
