<article class="content">
  <section class="section section--padding">
    <div class="container">
      <div class="relative hidden-xs hidden-sm">
        <a href="#" onclick="history.back()" class="btn_back">
          <i class="icon icon--back_arrow"></i>
          Back
        </a>
      </div>

      <div class="row">
        <div class="col-md-8 automargin">
          <div class="volatility_page">
            <h1 class="page__title">Volatility shield</h1>

            <div class="volatility_page__search">
              <h2>Recommended Volatility shield

                <button class="btn btn--icon _show_search_block">
                  <i class="icon icon--search"></i>
                </button>
              </h2>

              <div class="search_filter">
                <form>
                  <div class="input-search input-search--index">
                    <button class="btn btn--icon">
                      <i class="icon icon--search"></i>
                    </button>
                    <input type="text" class="form-control form-control--search" placeholder="Search">
                    <button class="btn btn--icon">
                      <i class="icon icon--cancel_round"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>

            <div class="profile_info__header">BTC</div>
            <div class="profile_summary__list">
              <div class="profile_summary__item">
                <div class="profile_summary__status_name">USD</div>
                <div class="profile_summary__status_value">1.40%</div>
              </div>
              <div class="profile_summary__item">
                <div class="profile_summary__status_name">EUR</div>
                <div class="profile_summary__status_value">1.35%</div>
              </div>
              <div class="profile_summary__item">
                <div class="profile_summary__status_name">CHF</div>
                <div class="profile_summary__status_value">2.00%</div>
              </div>
              <div class="profile_summary__item">
                <div class="profile_summary__status_name">JPY</div>
                <div class="profile_summary__status_value">1.40%</div>
              </div>
              <div class="profile_summary__item">
                <div class="profile_summary__status_name">GBP</div>
                <div class="profile_summary__status_value">1.35%</div>
              </div>
              <div class="profile_summary__item">
                <div class="profile_summary__status_name">AUS</div>
                <div class="profile_summary__status_value">2.00%</div>
              </div>
            </div>

            <div class="profile_info__header">ETH</div>
            <div class="profile_summary__list">
              <div class="profile_summary__item">
                <div class="profile_summary__status_name">USD</div>
                <div class="profile_summary__status_value">1.40%</div>
              </div>
              <div class="profile_summary__item">
                <div class="profile_summary__status_name">EUR</div>
                <div class="profile_summary__status_value">1.35%</div>
              </div>
              <div class="profile_summary__item">
                <div class="profile_summary__status_name">CHF</div>
                <div class="profile_summary__status_value">2.00%</div>
              </div>
              <div class="profile_summary__item">
                <div class="profile_summary__status_name">JPY</div>
                <div class="profile_summary__status_value">1.40%</div>
              </div>
              <div class="profile_summary__item">
                <div class="profile_summary__status_name">GBP</div>
                <div class="profile_summary__status_value">1.35%</div>
              </div>
              <div class="profile_summary__item">
                <div class="profile_summary__status_name">AUS</div>
                <div class="profile_summary__status_value">2.00%</div>
              </div>
            </div>

            <div class="profile_info__header">PKT</div>
            <div class="profile_summary__list">
              <div class="profile_summary__item">
                <div class="profile_summary__status_name">USD</div>
                <div class="profile_summary__status_value">1.40%</div>
              </div>
              <div class="profile_summary__item">
                <div class="profile_summary__status_name">EUR</div>
                <div class="profile_summary__status_value">1.35%</div>
              </div>
              <div class="profile_summary__item">
                <div class="profile_summary__status_name">CHF</div>
                <div class="profile_summary__status_value">2.00%</div>
              </div>
              <div class="profile_summary__item">
                <div class="profile_summary__status_name">JPY</div>
                <div class="profile_summary__status_value">1.40%</div>
              </div>
              <div class="profile_summary__item">
                <div class="profile_summary__status_name">GBP</div>
                <div class="profile_summary__status_value">1.35%</div>
              </div>
              <div class="profile_summary__item">
                <div class="profile_summary__status_name">AUS</div>
                <div class="profile_summary__status_value">2.00%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
